<div class="box fill">
  <h1>Ranger</h1>
  <p>
    Rangers are solitary characters often at one with nature. They make exceptions trackers and are proficient with
    ranged weapons. They can also go toe to toe with enemies if required.
  </p>
  <h3>Hit Die</h3>
  <p>d10</p>
  <h3>Important stats</h3>
  <p>Agility, Strength, Spirit</p>
  <h3>Starting equipment</h3>
  <p>Damaged Leather Armour, Rusty Bastard Sword</p>
  <h3>Proficiencies</h3>
  <p>
    Light Armour, Medium Armour, Simple Weapons, Small Weapons, Medium Weapons, Ranged Weapons, Small Shields
  </p>

  <h2>Progression</h2>
  <table class="wide">
    <tr class="header">
      <td>Level</td>
      <td>Unlocks</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Skill - Track</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Skill - Headshot</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Skill - Entangling Roots</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Skill - Eagle Eye</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Skill - Dual Wield</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Skill - Extra Attack</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>11</td>
      <td>TODO</td>
    </tr>
  </table>

  <h2>Skills</h2>

  <h3>Track</h3>
  <p>
    Passive - the ranger gains +1 per level to any perception checks relating to hunting or tracking creatures.
  </p>

  <h3>Headshot</h3>
  <p>
    Action - once per day - attack vs dodge using a ranged weapon, if it hits the ranger scores a critical hit, doing maximum
    damage and the enemy and they are <b>stunned</b>
  </p>

  <h3>Entangling Roots</h3>
  <p>
    Action - once per encounter - attack SPI vs SPI an enemy within 10m, if it hits the enemy is <b>rooted</b> next round.
  </p>

  <h3>Eagle Eye</h3>
  <p>
    Passive - the Ranger gains +5m to range when using <b>ranged</b> weapons.
  </p>

  <h3>Dual Wield</h3>
  <p>
    Passive - The character may now equip a <b>small weapon</b> in their off-hand, and can make an additional basic attack
    with that weapon once per round
  </p>

  <h3>Extra Attack</h3>
  <p>
    Passive - once per round - the character can perform an additional basic attack with their main weapon
  </p>
</div>
