<h1>Shaman</h1>
<p>
  The ritualistic alternative to a cleric, shamans channel the energies of their ancestors to heal and bolster their
  allies.
</p>
<h3>Hit Die</h3>
<p>d8</p>
<h3>Important stats</h3>
<p>Spirit, Constitution</p>
<h3>Starting equipment</h3>
<p>Damaged Cloth Robe, Damaged Mace, Damaged Wooden shield</p>
<h3>Proficiencies</h3>
<p>
  Light Armour, Medium Armour, Simple Weapons, Small Weapons, Medium Weapons, Small Shields
</p>
<h3>Abilities</h3>
<table>
  <tr class="header">
    <td>Level</td>
    <td>Name</td>
    <td>Description</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Lesser heal</td>
    <td>
      Action - once per encounter - heal an ally for 1d6+SPI health
    </td>
  </tr>
  <tr>
    <td>3</td>
    <td>Lightning bolt</td>
    <td>
      Action - once per encounter - attack vs SPI on an enemy within 10m, on hit does 1d6+SPI <b>arcane</b> damage and the enemy is <b>stunned</b>
    </td>
  </tr>
  <tr>
    <td>3</td>
    <td>Strength of the bear</td>
    <td>
      Action - give a target ally 1d4+SPI strength for their next attack
    </td>
  </tr>
  <tr>
    <td>5</td>
    <td>Heal</td>
    <td>
      Action - once per encounter - heal an ally for 2d6+SPI health
    </td>
  </tr>
  <tr>
    <td>7</td>
    <td>Speed of the puma</td>
    <td>Action - give a target ally 1d4+SPI movement for their next move</td>
  </tr>
  <tr>
    <td>9</td>
    <td>Sicken</td>
    <td>
      Action - once per encounter - attack vs SPI on an enemy within 10m, on hit the enemy is diseased and takes 2d6+SPI
      damage per round
    </td>
  </tr>
  <tr>
    <td>...</td>
    <td>...</td>
    <td>...</td>
  </tr>
</table>
