<div class="box fill">
  <h1>Shaman</h1>
  <p>
    Primal and ritualistic, shamans channel the energies of their ancestors to heal and bolster their
    allies, as well as harness the weather to damage their enemies.
  </p>
  <h3>Hit Die</h3>
  <p>d8</p>
  <h3>Important stats</h3>
  <p>Spirit, Constitution</p>
  <h3>Starting equipment</h3>
  <p>Damaged Cloth Robe, Damaged Mace, Damaged Wooden shield</p>
  <h3>Proficiencies</h3>
  <p>
    Light Armour, Medium Armour, Simple Weapons, Small Weapons, Medium Weapons, Small Shields
  </p>
  <h2>Progression</h2>
  <table class="wide">
    <tr class="header">
      <td>Level</td>
      <td>Unlocks</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Skill - Lesser heal</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Skill - Lightning bolt</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Skill - Strength of the bear</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Skill - Heal</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Skill - Speed of the puma</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Skill - Gale</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>11</td>
      <td>TODO</td>
    </tr>
  </table>

  <h2>Skills</h2>

  <h3>Lesser Heal</h3>
  <p>
    Action - once per encounter - heal an ally for 1d6+SPI health
  </p>

  <h3>Lightning bolt</h3>
  <p>
    Action - once per encounter - attack SPI vs SPI on an enemy within 10m, on hit does 1d6+SPI <b>light</b> damage and the
    enemy is <b>stunned</b>
  </p>

  <h3>Strength of the bear</h3>
  <p>
    Action - give a target ally 1d4+SPI strength for their next attack
  </p>

  <h3>Heal</h3>
  <p>
    Action - once per encounter - heal an ally for 2d6+SPI health
  </p>

  <h3>Speed of the puma</h3>
  <p>
    Action - give a target ally 1d4+SPI movement for their next move
  </p>

  <h3>Gale</h3>
  <p>
    Action - once per encounter - attack SPI vs SPI on an enemy within 10m, on hit the enemy takes 3d6+SPI
    damage and is knocked down
  </p>
</div>
