<div class="box fill">
  <h1>Bard</h1>
  <p>
    It might not seem conventional to bring a guitar to a sword fight, but once you see a bard at work you will
    understand.
    They use their gifts of music to weave magical sonnets, bolstering their allies and weakening their foes. Rock on.
  </p>
  <h3>Hit Die</h3>
  <p>d8</p>
  <h3>Important stats</h3>
  <p>Charisma, Agility, Strength</p>
  <h3>Starting equipment</h3>
  <p>Damaged Leather Armour, Damaged Short Sword, choose either a hand drum, a flute, or a lute</p>
  <h3>Proficiencies</h3>
  <p>
    Light Armour, Simple Weapons, Small Weapons, Medium Weapons, Ranged Weapons, Small Shields
  </p>

  <h2>Progression</h2>
  <table class="wide">
    <tr class="header">
      <td>Level</td>
      <td>Unlocks</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Skill - Fast Hands</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Skill - Invigorating Warsong</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Skill - Deafening Shout</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Skill - Focus</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Skill - Chords of Agony</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Skill - Extra Attack</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Skill - Hymn of Restoration</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Skill - Charm</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>11</td>
      <td>TODO</td>
    </tr>
  </table>

  <h2>Skills</h2>
  <p>
    A lot of bard skills have the type <b>song</b>, these remain active until the bard switches to another <b>song</b>
    or becomes <b>incapacitated</b>. The bard should keep track of which song is active, and check for any effects that trigger
    at the start of their turn.
  </p>

  <h3>Fast Hands</h3>
  <p>
    Passive - Bards can inexplicably play a musical instrument in their off hand while wielding a weapon in their main hand. Even if the
    instrument requires two hands. Don't question it.
  </p>

  <h3>Invigorating Warsong</h3>
  <p>
    Action - song - while active, all allies within earshot gain +1 to all attack rolls. Requires an instrument.
  </p>

  <h3>Deafening Shout</h3>
  <p>
    Action - once per encounter - attack vs CHA on enemy within earshot, if it hits the enemy takes 1d6+CHA damage and
    is <b>knocked down</b>
  </p>

  <h3>Chords of Agony</h3>
  <p>
    Action - song - attack vs CHA on all enemies within earshot, if it hits each enemy takes 1d4+CHA now and must defend
    the attack at the start of the bards turn while the song is active. Requires an instrument.
  </p>

  <h3>Extra Attack</h3>
  <p>
    Passive - once per round - the character can perform an additional basic attack with their main weapon
  </p>

  <h3>Hymn of Restoration</h3>
  <p>
    Action - song - all allies within earshot gain 1d4+CHA health now at the start of the bards turn while the song is active
  </p>

  <h3>Charm</h3>
  <p>
    Action - once per day - attack vs CHA, if it hits the enemy is <b>charmed</b> until the end of their next turn.
  </p>
</div>
