<div class="box fill">
  <img src="/assets/classes/enchanter.png">
  <h1>Enchanter</h1>
  <p>
    Enchanters are the masters of the mind, using their magical abilities to control and confuse enemies. Main roles
    in battle are crowd control and damage.
  </p>
  <h3>Hit Die</h3>
  <p>d6</p>
  <h3>Important stats</h3>
  <p>Charisma, Intelligence, Constitution</p>
  <h3>Starting equipment</h3>
  <p>Damaged Cloth Robe, Damaged Arcane Wand</p>
  <h3>Proficiencies</h3>
  <p>
    Simple Weapons, Magic Weapons
  </p>
  <h2>Progression</h2>
  <table class="wide">
    <tr class="header">
      <td>Level</td>
      <td>Unlocks</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Skill - Charm</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Skill - Mesmerise</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Skill - Illusion</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Skill - Pierce Mind</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Skill - Haste</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>11</td>
      <td>TODO</td>
    </tr>
  </table>

  <h2>Skills</h2>

  <h3>Charm</h3>
  <p>
    Action - attack CHA vs CHA on an enemy within 10m, if it hits the enemy is charmed until the end of their next turn.
  </p>

  <h3>Mesmerise</h3>
  <p>
    Action - once per encounter - attack CHA vs CHA on an enemy target, if it hits the target is <b>stunned</b> and must
    make a CHA saving throw at the start of each turn, if successful they are no longer stunned, otherwise they remain stunned
    until they take damage
  </p>

  <h3>Illusion</h3>
  <p>
    Action - once per encounter - summon a static illusion of yourself, attack INT vs INT on all enemies within 5m, if they
    fail they cannot tell the difference and will attack the illusion next turn. The illusion
    disappears at the start of the enchanters next turn.
  </p>

  <h3>Pierce Mind</h3>
  <p>
    Action - attack INT vs INT on an enemy within 10m, if it hits the enemy takes 3d6 + INT <b>mind</b> damage
  </p>

  <h3>Haste</h3>
  <p>
    Action - bless a friendly target with haste, giving them an additional free turn to be taken immediately. This does not
    replace their actual turn this round.
  </p>
</div>
