<div class="box fill">
  <img src="/assets/races/avatar-troll.png">
  <div class="info">
    <h1>Troll</h1>
    <p>
      The green and slender cousin to the ogres, trolls are feared for their ability to regenerate quickly in combat.
      They stand between 7'5 and 9' tall.
    </p>

    <h3>Stat Bonuses</h3>
    <p>
      +2 to Strength, +2 to Constitution, -1 to Intelligence, -1 to Charisma
    </p>

    <h3>Regenerate</h3>
    <p>
      Regenerate 1 <b>health</b> at the end of each combat round (increases to 2 at level 3, 3 at level 6,
      4 at level 9, 5 at level 12, 6 at level 15, and 7 at level 18)
    </p>
  </div>
</div>
