<div *ngIf="selectedRace">
  <app-race [race]="selectedRace"></app-race>
  <div class="box fill footer"
       *ngIf="(character | async).race && (character | async).race !== selectedRace.name && (character | async).level == 1">
    <button (click)="save()">UPDATE</button>
    <p><i>Changing your race will reset any previously made class/stat choices</i></p>
  </div>
  <div class="box fill footer" *ngIf="!(character | async).race">
    <button (click)="save()">SAVE</button>
  </div>
</div>

<div class="box fill">
  <h1>Select Race</h1>
  <p>Your race affects your appearance, how some characters judge you, and has an effect on your starting stats. Each
    race also has an additional unique passive ability.</p>
  <p>Some races will be slightly better suited to certain classes initially, however <b>don't let this deter you from
    being creative</b></p>
  <div class="race-icon" *ngFor="let race of races | async"
       [class.selected]="selectedRace != null && race.name === selectedRace.name" (click)="select(race)">
    <img src="/assets/races/icon-{{race.name}}.png">
    <p>{{race.label}}</p>
  </div>
</div>

