.wide {
  width: 90%;
}

td {
  text-align: left;
}

a {
  cursor: pointer;
}

.index {
  -webkit-columns: 66px 3; /* Chrome, Safari, Opera */
  -moz-columns: 66px 3; /* Firefox */
  columns: 66px 3;

  -webkit-column-width: 200px;
  -moz-column-width: 200px;
  column-width: 200px;
}

.centered {
  text-align: center;
}
