<div class="container">
  <div class="box">
    <h1>Contents</h1>
    <div class="index">
      <ul>
        <li *ngFor="let rule of rules | async"><a custom-scroll href="#{{rule.title}}">{{rule.title}}</a>
          <ul *ngIf="rule.sections">
            <span *ngFor="let section of rule.sections"><li *ngIf="section.title"><a custom-scroll
                                                                                     href="#{{section.title}}">{{section.title}}</a></li></span>
          </ul>
        </li>
        <li><a custom-scroll href="#CharacterCreation">Character Creation</a>
          <ul>
            <li><a custom-scroll href="#Races">Races</a>
              <ul>
                <li *ngFor="let race of races | async"><a routerLink="/rules/race/{{race.name}}"
                                                          routerLinkActive="active">{{race.label}}</a></li>
              </ul>
            </li>
            <li><a custom-scroll href="#Classes">Classes</a>
              <ul>
                <li *ngFor="let clazz of classes | async"><a routerLink="/rules/class/{{clazz.name}}"
                                                             routerLinkActive="active">{{clazz.label}}</a></li>
              </ul>
            </li>
            <li><a custom-scroll href="#Stats">Stats</a>
              <ul>
                <li><a custom-scroll href="#Primary">Primary</a></li>
                <li><a custom-scroll href="#Secondary">Secondary</a></li>
              </ul>
            </li>
            <li><a custom-scroll href="#Additional">Additional Info</a></li>
          </ul>
        </li>
        <li><a custom-scroll href="#Equipment">Equipment</a>
          <ul>
            <li><a custom-scroll href="#Currency">Currency</a></li>
            <li><a custom-scroll href="#Weapons">Weapons</a></li>
            <li><a custom-scroll href="#Armour">Armour</a></li>
            <li><a custom-scroll href="#Shields">Shields</a></li>
            <li><a custom-scroll href="#Tools">Tools</a></li>
          </ul>
        </li>
        <li><a custom-scroll href="#Spells">Spells</a>
          <ul>
            <li *ngFor="let group of spells | async"><a routerLink="/rules/spell-book/{{group.label}}"
                                                        routerLinkActive="active">{{group.label}}</a></li>
          </ul>
        </li>
        <li><a custom-scroll href="#Poisons">Poisons</a></li>
      </ul>
    </div>
  </div>

  <div class="box" *ngFor="let rule of rules | async">
    <h1 id="{{rule.title}}">{{rule.title}}</h1>
    <p [innerHTML]="rule.desc"></p>
    <div *ngFor="let section of rule.sections">
      <h2 *ngIf="section.title" id="{{section.title}}">{{section.title}}</h2>
      <p *ngIf="section.desc" [innerHTML]="section.desc"></p>
      <p class="code" *ngIf="section.code">{{section.code}}</p>
      <div *ngFor="let subSection of section.sections">
        <h3 *ngIf="subSection.title" id="{{subSection.title}}">{{subSection.title}}</h3>
        <p *ngIf="subSection.desc" [innerHTML]="subSection.desc"></p>
        <p class="code" *ngIf="subSection.code">{{subSection.code}}</p>
        <div *ngFor="let subSubSection of subSection.sections">
          <h4 *ngIf="subSubSection.title" id="{{subSubSection.title}}">{{subSubSection.title}}</h4>
          <p *ngIf="subSubSection.desc" [innerHTML]="subSubSection.desc"></p>
          <p class="code" *ngIf="subSubSection.code">{{subSubSection.code}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="box">
    <h1 id="CharacterCreation">CHARACTER CREATION</h1>
    <p>
      Creating a character consists of the following steps:
    </p>
    <ul>
      <li>Select a <b>Race</b></li>
      <li>Select a <b>Class</b></li>
      <li>Allocate your <b>Primary Stats</b></li>
      <li>Enter additional detail such as: name, age, appearance, personality, background, aims</li>
    </ul>

    <h2 id="Races">RACES</h2>
    <p>
      Your race affects your appearance, how some characters judge you, and has an effect on your starting stats. Each
      race also has an additional unique passive ability.
    </p>
    <p>
      Some races will be slightly better suited to certain classes at the beginning, however there are no restrictions
      on this choice.
    </p>
    <p>
      More detail on each race can be found here:
    </p>
    <ul>
      <li *ngFor="let race of races | async"><a routerLink="/rules/race/{{race.name}}" routerLinkActive="active">{{race.label}}</a>
      </li>
    </ul>

    <h2 id="Classes">CLASSES</h2>
    <p>
      Your class defines how you operate in combat, giving you access to a specific set of equipment and abilities. Each
      class has a <b>Hit Die</b>, this controls how much <b>health</b> they both start with and gain each level.
    </p>
    <p>
      Please note the full set of class abilities is currently incomplete and will be discovered as you progress, what
      is displayed should however give you a feel for how the class is played.
    </p>
    <p>Individual classes details can be found here:</p>
    <ul>
      <li *ngFor="let clazz of classes | async"><a routerLink="/rules/class" routerLinkActive="active"
                                                   [queryParams]="{ class: clazz.name}">{{clazz.label}}</a></li>
    </ul>

    <h2 id="Stats">STATS</h2>
    <p>
      Stats are the numbers which make up a character's ability to excel (or not) at certain things. This is split up
      into <b>primary</b> stats and <b>secondary</b> stats.
    </p>

    <h3 id="Primary">PRIMARY</h3>
    <p>
      Primary stats are the building blocks of your character. All characters start with 1 in each stat, adjusted by
      your selected <b>race</b>, plus 5 points (10 for humans) to spend as you like.
    </p>
    <p>
      At creation only, no individual base stat (not including racial bonuses) can be raised above 5.
    </p>
    <p>
      The class you choose should guide you in which stats to allocate points in, however no matter what class you
      choose
      it is recommended to place a point or two in <b>Constitution</b> for health and <b>Agility</b> for speed.
    </p>

    <h4>Strength [STR]</h4>
    <p>
      How physically strong the character is. Allows the character to flex and lift heavy objects, as well as do more
      melee damage in combat.
    </p>

    <h4>Constitution [CON]</h4>
    <p>
      How healthy and fit the character is. Directly affects the <b>health</b> of a character as well as
      resistance to <b>poison</b> and <b>disease</b>.
    </p>

    <h4>Agility [AGI]</h4>
    <p>
      How fast and coordinated the character is. Directly affects the <b>speed</b> and <b>dodge</b> ratings of a
      character. It also affects damage done using ranged weapons.
    </p>

    <h4>Intelligence [INT]</h4>
    <p>
      How witty and educated the character is. Directly affects the power of most <b>arcane</b>, <b>fire</b>, <b>ice</b>
      and <b>dark</b> based magic, as well as <b>resistance</b> to those.
    </p>

    <h4>Spirit [SPI]</h4>
    <p>
      How in tune a character is with either their inner spirit or their god. Directly affects to power of most
      <b>light</b> and <b>nature</b> magic, as well as resistance to those.
    </p>

    <h4>Charisma [CHA]</h4>
    <p>
      How charming and persuasive a character is. Directly affects the power of most <b>mind</b> magic as well as
      resistance to it. Also useful when trying to pick up girls.
    </p>

    <h3 id="Secondary">SECONDARY</h3>
    <p>
      Secondary stats are calculated from both the characters primary stats, level, and any item enhancements. They
      cannot be directly modified in the same way that the primary stats are.
    </p>

    <h4>Health</h4>
    <p>
      The general well-being of a character, health is used as an indicator of how close a character is to dieing. It is
      based
      on <b>constitution</b>, <b>level</b>, and the <b>class</b>. All characters start with health equal to:
    </p>
    <p class="code">
      Max Health = Hit Die Max + Constitution
    </p>
    <p>
      Each level characters gain health equal to the average of their <b>class hit die</b> plus <b>constitution</b>:
    </p>
    <p class="code">
      Bonus Health = Hit Die Average + Constitution
    </p>
    <p>
      Note than any increases in <b>Constitution</b> are applied retroactively, so the full formula to calculate how
      much maximum health a character currently has is:
    </p>
    <p class="code">
      Max Health = Hit Die Max + Constitution + ((Hit Die Average + Constitution) * (Level - 1))
    </p>
    <p>
      For example a level 5 Warrior (class hit die d12) with 5 Constitution, and a level 5 Wizard (class hit die d6)
      with 3 Constitution would have:
    </p>
    <p class="code">
      Warrior = 12 + ((6 + 5) * 4) = 56 <br/>
      Wizard = 6 + ((3 + 3) * 4) = 30
    </p>
    <p>
      When a character is below 50% of their maximum health, they are considered <b>wounded</b>.
    </p>
    <p>
      When a character is at 0 health, they are considered <b>unconscious</b> and <b>dying</b> (unless
      <b>stabilized</b>). For more detail see the section on <a custom-scroll href="#Death">Death</a>.
    </p>

    <h4>Temporary Health</h4>
    <p>
      Some spells and abilities grant a character temporary health, which acts as a temporary buffer against damage.
      Characters with full health can be given additional health via temporary health.
    </p>
    <p>
      When a character with temporary health takes damage, the damage is first taken from temporary health and if any is
      leftover
      it is then taken on actual health.
    </p>
    <p>
      Once temporary health is removed, it cannot be regained via healing. If a character with temporary health is
      granted
      more temporary health, they are not combined, the character must chose whether to keep their existing pool or to
      take the new one.
    </p>
    <p>
      When a character takes any sort of rest, temporary hit points are removed.
    </p>

    <h4>Speed</h4>
    <p>
      This is the characters ability to move around the battlefield in combat. Units are generally considered to be in
      meters, so a character with 5 speed is able to move 5 meters per round.
    </p>
    <p>
      Characters speed is affected by their <b>Agility</b> stat plus any modifiers. It should be noted that heavy
      armour
      and shields negatively affect a characters speed. A character will always have a minimum of 1 speed
      regardless of modifiers (unless they are <b>Rooted</b>).
    </p>
    <p>
      Each point of agility up to 5 speed is worth 1 speed. Each point between 6-10 is worth 1/2, each point between
      11-15
      is worth 1/3, 16-20 worth 1/4 and 21-25 worth 1/5. Remember to round down to the nearest whole number.
    </p>
    <p>
      For example a character with 6 agility will have:
    </p>
    <p class="code">
      Speed = 1 + 1 + 1 + 1 + 1 + 0.5 + 0.5 = 6
    </p>
    <p>
      The maximum a character can have would be at 25 agility:
    </p>
    <p class="code">
      Speed = 1 + 4 + 2.5 + 1.67 + 1.25 + 1.2 = 12.62 = 12
    </p>
    <p>
      Speed is also used to decide combat turn order during the <b>Initiative</b> phase.
    </p>

    <h4>Avoidance</h4>
    <p>
      The characters ability to avoid attacks, and comes in two categories: <b>dodge</b> and <b>save</b>.
    </p>
    <p>
      <b>Dodge</b> affects the characters ability to avoid melee and ranged attacks. To
      calculate a characters <b>Dodge Rating</b>, take 10 and add their <b>Agility</b>, then any other modifiers.
      Similar to <b>speed</b>,
      <b>dodge</b> is negatively affected by heavy armour and shields.
    </p>
    <p>
      <b>Save</b>. Some effects will require a character to make a <b>Saving Throw</b> to attempt to avoid the damage.
      This will use a specific stat described in the effect.
    </p>

    <h4>Mitigation</h4>
    <p>
      The characters ability to reduce damage they taken from hits. Like avoidance this comes in two categories: <b>armour</b>
      and <b>magic reduction</b>.
    </p>
    <p>
      <b>Armour</b> reduces the amount of <b>physical</b> damage taken and is generally improved by wearing better and
      heavier
      armour.
    </p>
    <p>
      <b>Spell Armour</b> reduces the amount of <b>magical</b> damage taken and can only be improved through certain
      abilities and magical items. Magic damage comes in many different subtypes: fire, ice, arcane, dark, light and
      energy.
      Note that if something states 'Spell Armour', it applies to all subtypes of magical damage, however some
      abilities and items may only apply to certain subtypes, in this case it will be specific, such as 'Fire
      Reduction'.
    </p>
    <p>
      <b>Resistance</b> halves the amount of damage from a given source and is applied <b>before</b> armour. For example
      if a character
      with Bludgeoning Resistance and 1 armour takes 11 bludgeoning damage, they instead take 4.
    </p>

    <h2 id="Additional">ADDITIONAL INFO</h2>
    <p>
      To finalise your character, you should give them some general details such as name, age, appearance, personality,
      background, and life goals.
    </p>
    <p>
      For the background and life goals you can be as in depth or as mysteriously vague as you wish. You do not need
      to disclose all these details with the other players, however being open with the DM allows them to mould the
      story to your character, creating more personalised plots.
    </p>
  </div>

  <div class="box">
    <h1 id="Equipment">Equipment</h1>
    <p>
      This section contains details on all the basic equipment available to the characters. In addition to the
      equipment stated on their selected <b>class</b>, all characters start with a set of <b>bandages</b> each, as well
      as 5 units of food and water each.
    </p>
    <p>
      Equipment can be bought, acquired via gifts for completed quests, or hunting treasure.
    </p>

    <h2 id="Currency">Currency</h2>
    <p>
      The unit of currency in Solusek is gold coins. For this campaign, the characters always start with no gold coins,
      so it is in their interest to pursue avenues of income.
    </p>
    <p>
      Gold can be obtained by completing quests, stealing, killing, or hunting and selling treasure.
    </p>

    <h2 id="Weapons">Weapons</h2>
    <p>
      Weapons are used to perform attack actions and must be equipped. Each weapon has a <b>proficiency</b> requirement
      which must be met in order to wield it.
    </p>
    <table class="wide">
      <tr class="header">
        <td>Name</td>
        <td>Subtype</td>
        <td>Proficiency Required</td>
        <td>Modifiers</td>
      </tr>
      <tr *ngFor="let weapon of weapons | async">
        <td>{{weapon.label}}</td>
        <td>{{weapon.subtype}}</td>
        <td>{{weapon.proficiency}}</td>
        <td><p *ngFor="let modifier of weapon.modifiers"><b>{{modifier.label}}:</b> {{modifier.value}}<br/></p></td>
      </tr>
    </table>

    <h2 id="Armour">Armour</h2>
    <p>
      Armour is used to protect the body from physical damage and comes in the following forms:
    </p>
    <table class="wide">
      <tr class="header">
        <td>Name</td>
        <td>Subtype</td>
        <td>Proficiency Required</td>
        <td>Modifiers</td>
      </tr>
      <tr *ngFor="let armourItem of armour | async">
        <td>{{armourItem.label}}</td>
        <td>{{armourItem.subtype}}</td>
        <td>{{armourItem.proficiency}}</td>
        <td><p *ngFor="let modifier of armourItem.modifiers"><b>{{modifier.label}}:</b> {{modifier.value}}<br/></p></td>
      </tr>
    </table>

    <h2 id="Shields">Shields</h2>
    <p>
      Shields can be equipped in a characters offhand to provide additional armour.
    </p>
    <table class="wide">
      <tr class="header">
        <td>Name</td>
        <td>Subtype</td>
        <td>Proficiency Required</td>
        <td>Modifiers</td>
      </tr>
      <tr *ngFor="let shield of shields | async">
        <td>{{shield.label}}</td>
        <td>{{shield.subtype}}</td>
        <td>{{shield.proficiency}}</td>
        <td><p *ngFor="let modifier of shield.modifiers"><b>{{modifier.label}}:</b> {{modifier.value}}<br/></p></td>
      </tr>
    </table>

    <h2 id="Tools">Tools</h2>
    <p>
      Other items can be acquired, such as bandages and lockpicks. These will become
      available as you progress and the benefits will be detailed on a case by case basis.
    </p>
    <table class="wide">
      <tr class="header">
        <td>Name</td>
        <td>Desc</td>
      </tr>
      <tr *ngFor="let tool of tools | async">
        <td>{{tool.label}}</td>
        <td>{{tool.desc}}</td>
        <td><p *ngFor="let modifier of tool.modifiers"><b>{{modifier.label}}:</b> {{modifier.value}}<br/></p></td>
      </tr>
    </table>

  </div>
  <div class="box">
    <h1 id="Spells">Spells</h1>
    <p>
      Spells come in 6 groups: <b>Arcane</b>, <b>Mind</b>, <b>Light</b>, <b>Dark</b>, <b>Nature</b>, <b>Song</b>.
    </p>
    <p>
      With regards to spells, a character's class and level defines two things:
    </p>
    <p><b>Magic Type</b>: The category of magic a character has access to, for example wizards have access to
      <b>Arcane</b>.</p>
    <p>
      <b>Spell Slots</b>: Spell slots are effectively the number of spell usages a character has before needing to rest.
    </p>
    <p>
      <b>Preparation</b>: Dependant on the level and class, a caster will have a number of spells they can 'prepare' from their list
      of known spells. During a long rest the character chooses which spells they prepare for the day.
    </p>
    <p>
      Each magic type has spells separated into <b>ranks</b>. Spells of a certain rank are only available to a character
      once he has unlocked it.
      The level these are unlocked is dependant on class, for example Clerics unlock higher ranking <b>Light</b> magic
      earlier than Paladins.
    </p>
    <h2>Spell Slots</h2>
    <p>
      Spell slots are based on the character class and level, and can be seen in the tables below.
    </p>
    <p>
      Spells do not need to be assigned to specific slots, but when casting a spell, a slot of that rank or higher must be spent. If a higher ranking
      slot is used, the spell may gain additional boosts in power as described.
    </p>
    <p>
      Spell slots can be recovered fully during a <b>Long Rest</b>. Some classes also have the ability to recover a limited number of slots during a
      short rest.
    </p>
    <h3>Casters</h3>
    <p>
      Casters covers Bards, Wizards, Enchanters, Necromancers, Clerics and Druids.
    </p>
    <table class="wide" *ngIf="casterSpellSlots">
      <tr class="header">
        <td>Level</td>
        <td>Rank 1</td>
        <td>Rank 2</td>
        <td>Rank 3</td>
        <td>Rank 4</td>
        <td>Rank 5</td>
        <td>Rank 6</td>
        <td>Rank 7</td>
        <td>Rank 8</td>
        <td>Rank 9</td>
      </tr>
      <tr *ngFor="let level of levels">
        <td>{{level}}</td>
        <td>{{casterSpellSlots[level-1][0]}}</td>
        <td>{{casterSpellSlots[level-1][1]}}</td>
        <td>{{casterSpellSlots[level-1][2]}}</td>
        <td>{{casterSpellSlots[level-1][3]}}</td>
        <td>{{casterSpellSlots[level-1][4]}}</td>
        <td>{{casterSpellSlots[level-1][5]}}</td>
        <td>{{casterSpellSlots[level-1][6]}}</td>
        <td>{{casterSpellSlots[level-1][7]}}</td>
        <td>{{casterSpellSlots[level-1][8]}}</td>
      </tr>
    </table>
    <h3>Hybrids</h3>
    <p>
      Hybrids covers Paladins, Rangers and Reavers. They have less overall spell slots than casters and do not gain
      access to rank 5 spells.
    </p>
    <table class="wide" *ngIf="hybridSpellSlots">
      <tr class="header">
        <td>Level</td>
        <td>Rank 1</td>
        <td>Rank 2</td>
        <td>Rank 3</td>
        <td>Rank 4</td>
        <td>Rank 5</td>
      </tr>
      <tr *ngFor="let level of levels">
        <td>{{level}}</td>
        <td>{{hybridSpellSlots[level-1][0]}}</td>
        <td>{{hybridSpellSlots[level-1][1]}}</td>
        <td>{{hybridSpellSlots[level-1][2]}}</td>
        <td>{{hybridSpellSlots[level-1][3]}}</td>
        <td>{{hybridSpellSlots[level-1][4]}}</td>
      </tr>
    </table>
    <p>
      All spells will also be one of the following schools:
    </p>
    <ul>
      <li><b>Abjuration</b> - Strengthen and defend</li>
      <li><b>Alteration</b> - Improve and heal</li>
      <li><b>Conjuration</b> - Summons magical items or creatures</li>
      <li><b>Divination</b> - Sight or knowledge based magic</li>
      <li><b>Evocation</b> - Most direct damage spells</li>
      <li><b>Illusion</b> - Alter the appearance and the mind</li>
    </ul>

    <h3>Spellbooks</h3>
    <ul>
      <li *ngFor="let group of spells | async"><a routerLink="/rules/spell-book/{{group.label}}"
                                                  routerLinkActive="active">{{group.label}}</a></li>
    </ul>

  </div>

  <div class="box">
    <h1 id="Poisons">Poisons</h1>
    <p>
      When a character has access to poisons, he can craft them during a short rest provided
      he has access to the ingredients and a way of storing the poisons. Alternatively the poison can be directly
      applied to a physical weapon at the time of crafting.
    </p>
    <p>
      If a character has access to a poison prepared previously in a vial, they may spell an <b>Action</b> in combat to
      apply it to a weapon they are holding.
    </p>
    <p>
      Poisons, once applied to a weapon, last for 1 hour.
    </p>
    <p>
      When a poisoned weapon damages another creature, that creature must make a <b>Constitution Saving Throw</b> vs
      the poison strength (determined by the crafters spell DC). If their saving throw is not greater than the strength,
      they will become poisoned.
    </p>
    <p>
      At the start of a characters turn, if they are poisoned, they take the effects of the poison then make another <b>Constitution Saving Throw</b>
      to see whether the poison has run its course or if it persists for another turn.
    </p>
    <p>
      Each poison takes a certain type and number of ingredients to apply. These ingredients can be bought or found, and
      will be consumed when the poison is applied.
    </p>
    <table *ngFor="let poisonRank of poisons | async" class="wide">
      <tr class="header">
        <td colspan="3">Rank {{poisonRank.rank}} Poisons</td>
      </tr>
      <tr class="header">
        <td>Name</td>
        <td>Effect</td>
        <td>Ingredient</td>
      </tr>
      <tr *ngFor="let poison of poisonRank.poisons">
        <td>{{poison.label}}</td>
        <td [innerHtml]="poison.desc"></td>
        <td>{{poison.ingredients}}</td>
      </tr>
    </table>
  </div>
</div>
