<div class="container">
  <h1>Rules</h1>

  <ul>
    <li><a href="rules#Basics">Basics</a>
      <ul>
        <li><a href="rules#Transparency">Transparency</a></li>
        <li><a href="rules#Dice">Dice</a></li>
        <li><a href="rules#Rounding">Rounding</a></li>
        <li><a href="rules#Checks">Checks</a></li>
        <li><a href="rules#Death">Death</a></li>
      </ul>
    </li>
    <li><a href="rules#CharacterCreation">Character Creation</a>
      <ul>
        <li><a href="rules#Races">Races</a></li>
        <li><a href="rules#Classes">Classes</a></li>
        <li><a href="rules#Stats">Stats</a>
          <ul>
            <li><a href="rules#Primary">Primary</a></li>
            <li><a href="rules#Secondary">Secondary</a></li>
          </ul>
        </li>
        <li><a href="rules#Additional">Additional Info</a></li>
      </ul>
    </li>
    <li><a href="rules#CharacterAdvancement">Character Advancement</a></li>
  </ul>

  <h2 id="Basics">BASICS</h2>

  <h3 id="Transparency">TRANSPARENCY</h3>
  <p>
    In order to emphasise a consistent set of rules the GM will make an effort to be as transparent as possible when
    it comes to mechanics.
  </p>
  <p>
    An example of this is <b>checks</b>; you will always know the general difficulty of a check
    before rolling, so you can be confident the GM isn’t just fiddling the number to get the result <i>they</i> want.
  </p>

  <h3 id="Dice">DICE</h3>
  <p>
    Dice are a huge part of roleplaying, introducing an element of randomness and excitement. The dice used will be
    standard DnD dice: d4, d6, d8, d10, d12, d20, d100. The most common usages of which are:
  </p>

  <ul>
    <li>
      d4 - timers - sometimes the DM will roll a d4 to decide how long the players have before something happens, e.g.
      how many combat rounds before another horde of zombies breaks through a barricade.
    </li>
    <li>
      d4-d12 - damage - these dice will be used for most damage rolls to add a level of variance to the damage being
      done
      by characters and is dependant on the weapon/ability being used.
    </li>
    <li>
      d20 - Checks/saving throws
    </li>
    <li>
      D100 - percentile checks for certain conditions (such as madness)
    </li>
  </ul>

  <h3 id="Rounding">ROUNDING</h3>
  <p>
    When calculating a result that ends up not being a whole number, you should always round down. For example if
    you’re doing 11 fire damage to something with 50% fire reduction, the result would be 5 damage.
  </p>

  <h3 id="Checks">CHECKS</h3>
  <p>
    When performing an arbitrary action, the character may be asked to perform a check.
  </p>
  <p>
    A check tests a character’s or monster’s innate talent and training in an effort to overcome a challenge. The GM
    calls for an ability check when a character or monster attempts an action (other than an attack) that has a chance
    of
    failure. When the outcome is uncertain, the dice determine the results.
  </p>
  <p>
    For every ability check, the GM decides which of the six stats is relevant to the task at hand and the difficulty
    of the task, represented by a Difficulty Class. The more difficult a task, the higher its DC:
  </p>

  <table>
    <tr class="header">
      <td><b>Difficulty</b></td>
      <td><b>DC</b></td>
    </tr>
    <tr>
      <td>Trivial</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Easy</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Medium</td>
      <td>20</td>
    </tr>
    <tr>
      <td>Hard</td>
      <td>30</td>
    </tr>
    <tr>
      <td>Very hard</td>
      <td>40</td>
    </tr>
    <tr>
      <td>Nearly impossible</td>
      <td>50+</td>
    </tr>
  </table>
  <p>
    To make an ability check, roll a d20 and add the relevant ability modifier. As with other d20 rolls, apply bonuses
    and
    penalties, and compare the total to the DC. If the total equals or exceeds the DC, the ability check is a
    success—the
    creature overcomes the challenge at hand. Otherwise, it’s a failure, which means the character or monster makes no
    progress toward the objective or makes progress combined with a setback determined by the GM.

    Some checks may require teamwork (for example pushing a very large object), in this case, players can roll
    together to combine into a stronger check.
  </p>

  <h3 id="Death">DEATH</h3>
  <p>
    It will be possible to die. It is your responsibility as players (as you do in real life) to try and avoid getting
    into situations where death is likely.
  </p>
  <p>
    There are ways to recover from death however these will only be available to a limited degree at higher levels (such
    as rare magical artifacts or high level cleric spells). If a character dies without a way to recover, they are gone
    for good and the player will need to start a fresh character.
  </p>
  <p>
    Whenever you start your turn with 0 health, you must make a special check, called a death saving throw, to
    determine whether you creep closer to death or hang onto life. Unlike other saving throws, this one isn’t tied to
    any ability score. You are in the hands of fate now, aided only by spells and features that improve your chances of
    succeeding on a saving throw.
  </p>
  <p>
    Roll a d20: If the roll is 10 or higher, you succeed. Otherwise, you fail. A success or failure has no effect by
    itself. On your third success, you become stable (see below). On your third failure, you die. The successes and
    failures don’t need to be consecutive; keep track of both until you collect three of a kind. The number of both is
    reset to zero when you regain any hit points or become stable.
  </p>
  <p>
    Rolling 1 or 20: When you make a death saving throw and roll a 1 on the d20, it counts as two failures. If you
    roll a 20 on the d20, you regain 1 hit point.
  </p>
  <p>
    Damage at 0 Hit Points: If you take any damage while you have 0 hit points, you suffer a death saving throw
    failure. If the damage is from a critical hit, you suffer two failures instead. If the damage equals or exceeds your
    hit point maximum, you suffer instant death.
  </p>
  <p>
    A character who is healed above 0 health is considered immediately conscious and no longer dying.
  </p>

  <h4>Instant Death</h4>
  <p>
    Instant death can occur when a player takes damage equal to 100% of their health below 0. For example if a
    character
    with 20 max health gets hit for 40 damage, they would instantly be dead.
  </p>

  <h4>Stabilizing</h4>
  <p>
    When a character is stable, they are still considered unconscious and at 0 health, however they are no longer
    dying.
    Characters can be stabilised by other players through the use of bandages, and in some cases resourceful role play
    actions such as putting pressure on blood flow etc.
  </p>


  <h2 id="CharacterCreation">CHARACTER CREATION</h2>
  <p>
    Creating a character consists of the following steps:
  </p>
  <ul>
    <li>Select a <b>Race</b></li>
    <li>Select a <b>Class</b></li>
    <li>Allocate your <b>Primary Stats</b></li>
    <li>Enter additional detail such as: name, age, appearance, personality, background, aims</li>
  </ul>

  <h3 id="Races">RACES</h3>
  <p>
    Your race affects your appearance, how some characters judge you, and has an effect on your starting stats. Each
    race
    also has an additional unique passive ability.
  </p>

  <h4>Human</h4>
  <p>
    The most abundant race in the world of Solusek, humans are incredibly varied and flexible. They stand on average
    between 5'
    and 6'6" tall.
  </p>

  <h5>Stat Bonuses</h5>
  <p>
    None
  </p>

  <h5>Flexible</h5>
  <p>
    Humans start with an additional 5 stat points to spend at creation
  </p>

  <h4>High Elf</h4>
  <p>
    The proudest and most beautiful of all the elven races, high elves are a usually good-natured and caring, though do
    quite often see themselves as a superior race. They are generally pale-skinned and stand on average between 5'5"
    and 6'6" tall.
  </p>

  <h5>Stat Bonuses</h5>
  <p>
    +2 to Intelligence, +2 to Spirit, +1 to Charisma, -1 to Strength
  </p>

  <h5>Meditation</h5>
  <p>
    When taking a <b>short rest</b>, the high elf may refresh one 'once per day' ability.
  </p>

  <h4>Wood Elf</h4>
  <p>
    The most neutral of the three elven races, wood elves like to keep to themselves and are most happy when at one with
    nature. They tend to have tanned skin and stand on average between 4'5" and 5'9" tall.
  </p>

  <h5>Stat Bonuses</h5>
  <p>
    +2 to Agility, +1 to Constitution, +1 to Spirit
  </p>

  <h5>Quickstep</h5>
  <p>
    +2 to <b>movement</b>
  </p>

  <h4>Dark Elf</h4>
  <p>
    Often considered to be selfish and malicious, Dark elves are not well liked by the other elves. They have dark
    blue/black
    skin and stand on average between 4'5" and 5'9" tall.
  </p>

  <h5>Stat Bonuses</h5>
  <p>
    +2 to Agility, +2 to Intelligence
  </p>

  <h5>Merciless</h5>
  <p>
    +1 on all attack rolls against <b>wounded targets</b> (increases to +2 at level 5, +3 at level 10, +4 at level 11
    and +5 at level 20)
  </p>

  <h4>Halfling</h4>
  <p>
    The smallest people with the biggest personalities, halflings are generally friendly and optimistic. They stand on
    average
    between 3' and 4'5" tall.
  </p>

  <h5>Stat Bonuses</h5>
  <p>
    +2 to Agility, +1 to Constitution, +1 to Charisma
  </p>

  <h5>Tiny</h5>
  <p>
    +1 to all <b>dodge</b> rolls (increases to +2 at level 5, +3 at level 10, +4 at level 15, +5 at level 20)
  </p>

  <h4>Dwarf</h4>
  <p>
    Dwarves are known for their love of treasure, beer and facial hair. The are only slightly taller than halflings on
    average but
    are generally much stockier.
  </p>

  <h5>Stat Bonuses</h5>
  <p>
    +2 to Constitution, +1 to Strength, +1 to Spirit
  </p>

  <h5>Limitless</h5>
  <p>
    +5 to <b>health</b> <i>per level</i>
  </p>

  <h4>Ogre</h4>
  <p>
    The largest (and heaviest) of the races, ogres typically posses great strength and not-so-great intellect. They are
    generally
    hairless and stand between 7'5 and 9' tall.
  </p>

  <h5>Stat Bonuses</h5>
  <p>
    +3 to Strength, +2 to Constitution, -1 to Intelligence
  </p>

  <h5>Big Boned</h5>
  <p>
    Immune to physical <b>stun</b> and <b>knockdown</b>
  </p>

  <h4>Troll</h4>
  <p>
    The green and slender cousin to the ogres, trolls are feared for their ability to regenerate quickly in combat.
    They stand between 7'5 and 9' tall.
  </p>

  <h5>Stat Bonuses</h5>
  <p>
    +2 to Strength, +2 to Constitution, -1 to Intelligence, -1 to Charisma
  </p>

  <h5>Regenerate</h5>
  <p>
    Regenerate 1 <b>health</b> at the end of each combat round (increases to 2 at level 3, 3 at level 6,
    4 at level 9, 5 at level 12, 6 at level 15, and 7 at level 18)
  </p>

  <h4>Iksar</h4>
  <p>
    The most hated race in Solusek for their part in starting The Great War, Iksar are easily recognisable by their
    scaled, lizard-like
    skin. Said to be descended from the mating between ancient dragons and humans.
  </p>

  <h5>Stat Bonuses</h5>
  <p>
    +2 to Strength, +2 to Constitution, -1 to Intelligence, -1 to Charisma
  </p>

  <h5>Scaled</h5>
  <p>
    +1 to <b>armour</b> (increases to +2 at level 5, +3 at level 10, +4 at level 15 and +5 at level 20)
  </p>


  <h3 id="Classes">CLASSES</h3>
  <p>
    Your class defines how you operate in combat, giving you access to a specific set of equipment and abilities. Each
    class also has a <b>Hit Die</b>, which controls how much <b>health</b> they have per level.
  </p>
  <p>
    The class abilities are still under construction, however what is displayed here should give you a feel for how the
    class is played.
  </p>

  <h4>Warrior</h4>
  <p>
    The masters of arms, warriors are commonly found at the front of battle clad in heavy armour. They have a wide
    variety
    of available weapons, shields and armour. The main roles as a warrior is to take and dish out physical damage.
  </p>
  <h5>Hit Die</h5>
  <p>d12</p>
  <h5>Important stats</h5>
  <p>Constitution, Strength, Agility</p>
  <h5>Starting equipment</h5>
  <p>Damaged Chain Armour, Damaged Short Sword, Damaged Wooden Shield</p>
  <h5>Proficiencies</h5>
  <p>
    Light Armour, Medium Armour, Heavy Armour, Simple Weapons, Small Weapons, Medium Weapons, Large Weapons, Small
    Shields,
    Medium Shields, Large Shields
  </p>
  <h5>Abilities</h5>
  <table>
    <tr class="header">
      <td>Level</td>
      <td>Name</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Frenzy</td>
      <td>Passive - +1d4 damage on all attacks when <b>wounded</b></td>
    </tr>
    <tr>
      <td>1</td>
      <td>Taunt</td>
      <td>Action - Spend an action to force an opponent to make a CHA saving throw, or they will be forced to attack the
        character next round
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Shield Block</td>
      <td>Instant - once per round, when a friendly ally within 2m is being attacked, you may take the attack in their
        place
      </td>
    </tr>
    <tr>
      <td>5</td>
      <td>Dual Wield</td>
      <td>Passive - The character may now equip a small weapon in their off-hand, and can make an additional attack with
        that weapon once per round
      </td>
    </tr>
    <tr>
      <td>5</td>
      <td>Intimidate</td>
      <td>Passive - The character can perform a <b>Persuasion</b> check using their<b>Strength</b> rather than <b>Charisma</b>
      </td>
    </tr>
    <tr>
      <td>7</td>
      <td>Extra Attack</td>
      <td>Passive - Once per round, the character can perform an addition attack with their main weapon</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Berserk</td>
      <td>+2d4 damage on all attacks when <b>wounded</b></td>
    </tr>
    <tr>
      <td>9</td>
      <td>War Cry</td>
      <td>Action - Give all allies within earshot a +3 to their next attack roll</td>
    </tr>
    <tr>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
  </table>

  <h4>Paladin</h4>
  <p>
    A cross between a Warrior and a Cleric, Paladins combine their fighting abilities with healing spells as well as a
    hatred for undead. The main roles as a Paladin is to tank as well as heal.
  </p>
  <h5>Hit Die</h5>
  <p>d10</p>
  <h5>Important stats</h5>
  <p>Constitution, Spirit, Strength</p>
  <h5>Starting equipment</h5>
  <p>Damaged Chain Armour, Rusty Bastard Sword</p>
  <h5>Proficiencies</h5>
  <p>
    Light Armour, Medium Armour, Heavy Armour, Simple Weapons, Small Weapons, Medium Weapons, Large Weapons, Small
    Shields, Medium Shields
  </p>
  <h5>Abilities</h5>
  <table>
    <tr class="header">
      <td>Level</td>
      <td>Name</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Lay on hands</td>
      <td>
        Action - once per day, the character can touch (*wink*) a friendly target including themselves, healing the target to full health
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Courage</td>
      <td>
        Action - bless an ally with courage, giving them 1d6+SPI temporary hit points
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Turn undead</td>
      <td>
        Action -
      </td>
    </tr>
    <tr>
      <td>6</td>
      <td>Intimidate</td>
      <td>Passive - The character can perform a <b>Persuasion</b> check using their<b>Strength</b> rather than <b>Charisma</b>
      </td>
    </tr>
    <tr>
      <td>7</td>
      <td>Extra Attack</td>
      <td>Passive - Once per round, the character can perform an addition attack with their main weapon</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Berserk</td>
      <td>+2d4 damage on all attacks when <b>wounded</b></td>
    </tr>
    <tr>
      <td>8</td>
      <td>War Cry</td>
      <td>Action - Give all allies within earshot a +3 to their next attack roll</td>
    </tr>
    <tr>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
  </table>


  <h3 id="Stats">STATS</h3>
  <h4 id="Primary">PRIMARY</h4>
  <h4 id="Secondary">SECONDARY</h4>

  <h3 id="Additional">ADDITIONAL INFO</h3>

  <h2 id="CharacterAdvancement">Character Advancement</h2>

  <h2 id="Combat">Combat</h2>

  <h2 id="Conditions">Conditions</h2>

  <h2 id="Resting">Resting</h2>
  <h2 id="Equipment">Equipment</h2>
  <h3 id="Weapons">Weapons</h3>
  <h3 id="Armour">Armour</h3>
  <h3 id="Tools">Tools</h3>

</div>
