<div *ngIf="(user | async)?.uid === 'Aq3nWHK9uJaVR8neIJdpGBpTMrg2'" class="dm-buttons no-print">
  <button *ngFor="let player of players | async" (click)="load(player.character)">{{player.character.info.name}}
  </button>
</div>

<div *ngIf="character">
  <div class="box fill center">
    <h2 class="title">{{character.info.name}}</h2>
    <p class="info" *ngIf="clazz">Level {{character.level}}
      <span *ngIf="race">{{race.label}}</span>
      <span *ngIf="clazz">{{clazz.label}}</span>
      <span *ngIf="clazz && character.archetype">({{clazz.archetypes[character.archetype].label}})</span>
    </p>
    <p class="info" *ngIf="clazz"><b>Proficiencies:</b> {{clazz.proficiencies}}</p>
    <div class="wrapper">
      <span class="inline"><b>Experience:</b> {{character.experience}}</span>
      <span class="inline"><b>Gold:</b> {{character.gold}}</span>
    </div>
  </div>

  <div class="box fill" *ngIf="character.primaryStats">
    <h2 class="title">Primary Stats</h2>
    <div class="stats">
      <summary-stat [stats]="character.primaryStats" [stat]="'str'"></summary-stat>
      <summary-stat [stats]="character.primaryStats" [stat]="'con'"></summary-stat>
      <summary-stat [stats]="character.primaryStats" [stat]="'agi'"></summary-stat>
      <summary-stat [stats]="character.primaryStats" [stat]="'int'"></summary-stat>
      <summary-stat [stats]="character.primaryStats" [stat]="'spi'"></summary-stat>
      <summary-stat [stats]="character.primaryStats" [stat]="'cha'"></summary-stat>
    </div>
  </div>

  <div class="box fill" *ngIf="character.secondaryStats">
    <h2 class="title">Secondary Stats</h2>
    <div class="stats">
      <summary-stat [stats]="character.secondaryStats" [stat]="'speed'" [display]="'Speed'"></summary-stat>
      <summary-stat [stats]="character.secondaryStats" [stat]="'dodge'" [display]="'Dodge'"></summary-stat>
      <summary-stat [stats]="character.secondaryStats" [stat]="'armour'" [display]="'Armour'"></summary-stat>
      <summary-stat [stats]="character.secondaryStats" [stat]="'magicreduction'"
                    [display]="'Spell Armour'"></summary-stat>
      <summary-stat [stats]="character.secondaryStats" [stat]="'attack'" [display]="'Attack'"
                    [isModifier]="true"></summary-stat>
      <summary-stat [stats]="character.secondaryStats" [stat]="'spellattack'" [display]="'Spell Attack'"
                    [isModifier]="true"></summary-stat>
      <summary-stat [stats]="character.secondaryStats" [stat]="'spelldc'" [display]="'Spell DC'"></summary-stat>
    </div>
  </div>

  <div class="box fill" *ngIf="character.checks">
    <div class="stats">
      <div class="card">
        <h2 class="title">Ability Checks</h2>
        <summary-check [checks]="character.checks" [check]="'investigation'"
                       [display]="'Investigation'"></summary-check>
        <summary-check [checks]="character.checks" [check]="'knowledge'" [display]="'Knowledge'"></summary-check>
        <summary-check [checks]="character.checks" [check]="'perception'" [display]="'Perception'"></summary-check>
        <summary-check [checks]="character.checks" [check]="'persuasion'" [display]="'Persuasion'"></summary-check>
        <summary-check [checks]="character.checks" [check]="'stealth'" [display]="'Stealth'"></summary-check>
        <summary-check [checks]="character.checks" [check]="'thievery'" [display]="'Thievery'"></summary-check>
      </div>
      <div class="card">
        <h2 class="title">Saving Throws</h2>
        <summary-check [checks]="character.saves" [check]="'str'"></summary-check>
        <summary-check [checks]="character.saves" [check]="'con'"></summary-check>
        <summary-check [checks]="character.saves" [check]="'agi'"></summary-check>
        <summary-check [checks]="character.saves" [check]="'int'"></summary-check>
        <summary-check [checks]="character.saves" [check]="'spi'"></summary-check>
        <summary-check [checks]="character.saves" [check]="'cha'"></summary-check>
      </div>
    </div>
  </div>

  <div class="box fill">
    <div class="wrapper" *ngIf="character.secondaryStats">
      <summary-stat [stats]="character.secondaryStats" [stat]="'health'" [display]="'Health'"></summary-stat>
    </div>
    <h2 class="title" *ngIf="clazz">Hit Dice</h2>
    <p class="subtitle">(1d{{clazz.hit}}+{{character.primaryStats.con}})</p>
    <div class="wrapper" *ngIf="character && character.primaryStats && clazz">
      <div *ngFor="let item of getHitDie()" class="checkbox"></div>
    </div>
    <div *ngIf="hasSpells()">
      <h2 class="title">Spell Slots</h2>
      <div class="wrapper">
        <span *ngFor="let rank of spellSlots">
          <div *ngFor="let slot of rank" class="checkbox"><p>{{slot}}</p></div>
        </span>
      </div>
    </div>
  </div>

  <div class="box fill">
    <h2>Skills</h2>
    <span *ngFor="let skill of character.skills">
      <skill-card *ngIf="skill.name != 'archetype' || !character.archetype" [classSkill]="skill"></skill-card>
    </span>
  </div>

  <div class="box-display fill">
    <h2 class="title">Equipped</h2>
    <div class="wrapper">
      <summary-equipment [equipment]="character.equipment"></summary-equipment>
    </div>
  </div>

  <div class="box-display fill">
    <h2 class="title">Inventory</h2>
    <div class="wrapper">
      <item-card *ngFor="let item of character.inventory" class="card" [itemName]="item"></item-card>
    </div>
  </div>

  <div class="box fill no-print">
    <h2>Bio</h2>
    <h3>Appearance</h3>
    <p>{{character.info.appearance}}</p>
    <h3>Personality</h3>
    <p>{{character.info.personality}}</p>
    <h3>Background</h3>
    <p>{{character.info.background}}</p>
    <h3>Motivation</h3>
    <p>{{character.info.motivation}}</p>
    <h3>Introduction</h3>
    <p><i>This will be created by the DM and will explain how your character arrived at the starting point, please get
      in touch if you'd like to make any alterations once it's done</i></p>
    <p>{{character.info.introduction}}</p>
  </div>
</div>
