<div *ngIf="(user | async)?.uid === 'Aq3nWHK9uJaVR8neIJdpGBpTMrg2'" class="dm-buttons no-print">
  <button *ngFor="let player of players | async" (click)="load(player.character)">{{player.character.info.name}}
  </button>
</div>

<div *ngIf="character">
  <div class="box fill" *ngIf="character.primaryStats">
    <h2 class="title">Primary Stats</h2>
    <div class="stats">
      <summary-stat [stats]="character.primaryStats" [stat]="'str'"></summary-stat>
      <summary-stat [stats]="character.primaryStats" [stat]="'con'"></summary-stat>
      <summary-stat [stats]="character.primaryStats" [stat]="'agi'"></summary-stat>
      <summary-stat [stats]="character.primaryStats" [stat]="'int'"></summary-stat>
      <summary-stat [stats]="character.primaryStats" [stat]="'spi'"></summary-stat>
      <summary-stat [stats]="character.primaryStats" [stat]="'cha'"></summary-stat>
    </div>
  </div>

  <div class="box fill" *ngIf="character.secondaryStats">
    <h2 class="title">Secondary Stats</h2>
    <div class="stats">
      <summary-stat [stats]="character.secondaryStats" [stat]="'health'" [display]="'Health'"></summary-stat>
      <summary-stat [stats]="character.secondaryStats" [stat]="'speed'" [display]="'Speed'"></summary-stat>
      <summary-stat [stats]="character.secondaryStats" [stat]="'dodge'" [display]="'Dodge'"></summary-stat>
      <summary-stat [stats]="character.secondaryStats" [stat]="'armour'" [display]="'Armour'"></summary-stat>
      <summary-stat [stats]="character.secondaryStats" [stat]="'magicreduction'"
                    [display]="'Magic Reduction'"></summary-stat>
      <summary-stat [stats]="character.secondaryStats" [stat]="'attack'" [display]="'Attack'"
                    [isModifier]="true"></summary-stat>
      <summary-stat [stats]="character.secondaryStats" [stat]="'spellattack'" [display]="'Spell Attack'"
                    [isModifier]="true"></summary-stat>
      <summary-stat [stats]="character.secondaryStats" [stat]="'spelldc'" [display]="'Spell DC'"></summary-stat>
    </div>
  </div>

  <div class="box fill" *ngIf="character.checks">
    <div class="stats">
      <div class="checks border-right">
        <h2 class="title">Ability Checks</h2>
        <summary-check [checks]="character.checks" [check]="'investigation'"
                       [display]="'Investigation'"></summary-check>
        <summary-check [checks]="character.checks" [check]="'knowledge'" [display]="'Knowledge'"></summary-check>
        <summary-check [checks]="character.checks" [check]="'lockpicking'" [display]="'Lockpicking'"></summary-check>
        <summary-check [checks]="character.checks" [check]="'pickpocketing'"
                       [display]="'Pickpocketing'"></summary-check>
        <summary-check [checks]="character.checks" [check]="'perception'" [display]="'Perception'"></summary-check>
        <summary-check [checks]="character.checks" [check]="'persuasion'" [display]="'Persuasion'"></summary-check>
        <summary-check [checks]="character.checks" [check]="'stealth'" [display]="'Stealth'"></summary-check>
      </div>
      <div class="checks">
        <h2 class="title">Saving Throws</h2>
        <summary-check [checks]="character.saves" [check]="'str'"></summary-check>
        <summary-check [checks]="character.saves" [check]="'con'"></summary-check>
        <summary-check [checks]="character.saves" [check]="'agi'"></summary-check>
        <summary-check [checks]="character.saves" [check]="'int'"></summary-check>
        <summary-check [checks]="character.saves" [check]="'spi'"></summary-check>
        <summary-check [checks]="character.saves" [check]="'cha'"></summary-check>
      </div>
    </div>
  </div>

  <div class="box fill center">
    <h2>{{character.info.name}}</h2>
    <p><b>Age:</b> {{character.info.age}}</p>
    <p *ngIf="race"><b>Race:</b> {{race.label}}</p>
    <p *ngIf="clazz"><b>Class:</b> {{clazz.label}}</p>
    <p *ngIf="clazz"><b>Proficiencies:</b> {{clazz.proficiencies}}</p>
    <p><b>Level:</b> {{character.level}}</p>
    <p><b>Experience:</b> {{character.experience}}</p>
    <p><b>Gold:</b> {{character.gold}}</p>
  </div>

  <div class="box fill">
    <h2>Equipment</h2>
    <div *ngFor="let item of equipment">
      <h4>{{item.label}}</h4>
      <p>{{item.desc}}</p>
      <div *ngFor="let modifier of item.modifiers">
        <p><b>{{modifier.label}}</b>: {{modifier.value}}</p>
      </div>
    </div>
  </div>
  <div class="box fill">
    <h2>Inventory</h2>
    <div *ngFor="let item of inventory">
      <h4>{{item.label}}</h4>
      <p>{{item.desc}}</p>
      <div *ngFor="let modifier of item.modifiers">
        <p><b>{{modifier.label}}</b>: {{modifier.value}}</p>
      </div>
    </div>
  </div>
  <div class="box fill">
    <h2>Skills</h2>
    <skill-card *ngFor="let skill of character.skills" [classSkill]="skill"></skill-card>
  </div>
  <div class="box fill">
    <h2>Bio</h2>
    <h3>Appearance</h3>
    <p>{{character.info.appearance}}</p>
    <h3>Personality</h3>
    <p>{{character.info.personality}}</p>
    <h3>Background</h3>
    <p>{{character.info.background}}</p>
    <h3>Motivation</h3>
    <p>{{character.info.motivation}}</p>
    <h3>Introduction</h3>
    <p><i>This will be created by the DM and will explain how your character arrived at the starting point, please get
      in touch if you'd like to make any alterations once it's done</i></p>
    <p>{{character.info.introduction}}</p>
  </div>
</div>
