table {
  margin-left: 2.5%;
  width: 100%;
  max-width: 400px;
}

td {
  width: 50%;
}

.top {
  border: none;
}

.dm-buttons {
  margin-left: 4%;
}

.title, .wrapper, .stats, .checks, .subtitle {
  text-align: center;
}

.subtitle {
  padding: 0;
  margin: 0 auto 10px;
  font-size: smaller;
}

.box {
  padding: 1%;
  margin: 1%;
  width: 96%;
}

.title {
  margin-bottom: 5px;
  margin-top: 10px;
  width: 100%;
  padding-top: 0;
  padding-bottom: 10px;
  font-weight: normal;
}

.card {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  padding-left: 20px;
}

summary-stat + summary-stat {
  margin-left: 2%;
}

.info {
  text-align: center !important;
  width: 100% !important;
}

.inline {
  display: inline-block;
}

.inline + .inline {
  padding-right: 10px;
  border-left: 1px solid #EEE;
  padding-left: 10px;
}

.checkbox {
  border: 1px solid #8E8E8E;
  min-height: 20px;
  min-width: 20px;
  display: inline-block;
  padding: 2px;

  background-color: white;
}

.checkbox + .checkbox {
  margin-left: 2px;
}

.checkbox p {
  width: auto;
  vertical-align: middle;
  text-align: center;
  padding: 0;
}
