table {
  margin-left: 2.5%;
  width: 100%;
  max-width: 400px;
}

td {
  width: 50%;
}

.top {
  border: none;
}

.dm-buttons {
  margin-left: 4%;
}

.title, .wrapper, .stats, .checks {
  text-align: center;
}

.title {
  margin-bottom: 15px;
}

.card {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  padding-left: 20px;
}

summary-stat + summary-stat {
  margin-left: 40px;
}

.card + .card {
  border-left: 1px solid #DDD;
  padding-left: 10px;
  padding-right: 10px;
}

.info {
  text-align: center !important;
  width: 100% !important;
}

.inline {
  display: inline-block;
}

.inline + .inline {
  padding-right: 10px;
  border-right: 1px solid #EEE;
  padding-left: 10px;
}
