table {
  margin-left: 2.5%;
  width: 100%;
  max-width: 400px;
}

td {
  width: 50%;
}

.top {
  border: none;
}

.dm-buttons {
  margin-left: 4%;
}

.title, .wrapper, .stats, .checks {
  text-align: center;
}

.title {
  margin-bottom: 15px;
}

.checks {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  padding-left: 20px;
}

summary-stat + summary-stat {
  margin-left: 40px;
}

.border-right {
  border-right: 1px solid #EEE;
}
