<div *ngIf="(user | async)?.uid === 'Aq3nWHK9uJaVR8neIJdpGBpTMrg2'">
  <button *ngFor="let player of players | async" (click)="load(player.character)">{{player.character.info.name}}</button>
</div>

<div *ngIf="character">
  <div class="box">
    <h2>Basic Details</h2>
    <p><b>Name:</b> {{character.info.name}}</p>
    <p><b>Level:</b> {{character.level}}</p>
    <p><b>Age:</b> {{character.info.age}}</p>
    <p *ngIf="race"><b>Race:</b> {{race.label}}</p>
    <p *ngIf="clazz"><b>Class:</b> {{clazz.label}}</p>
    <p *ngIf="clazz"><b>Proficiencies:</b> {{clazz.proficiencies}}</p>
  </div>
  <div class="box" *ngIf="character.primaryStats">
    <h2>Primary Stats</h2>
    <table>
      <tr><td class="top">Strength</td><td class="top">{{character.primaryStats.str}}</td></tr>
      <tr><td>Constitution</td><td>{{character.primaryStats.con}}</td></tr>
      <tr><td>Agility</td><td>{{character.primaryStats.agi}}</td></tr>
      <tr><td>Intelligence</td><td>{{character.primaryStats.int}}</td></tr>
      <tr><td>Spirit</td><td>{{character.primaryStats.spi}}</td></tr>
      <tr><td>Charisma</td><td>{{character.primaryStats.cha}}</td></tr>
    </table>
  </div>
  <div class="box" *ngIf="character.secondaryStats">
    <h2>Secondary Stats</h2>
    <table>
      <tr><td class="top">Health</td><td class="top">{{character.secondaryStats.health}}</td></tr>
      <tr><td>Movement</td><td>{{character.secondaryStats.movement}}</td></tr>
      <tr><td>Dodge</td><td>{{character.secondaryStats.dodge}}</td></tr>
      <tr><td>Armour</td><td>{{character.secondaryStats.armour}}</td></tr>
    </table>
  </div>
  <div class="box">
    <h2>Skills</h2>
    <div *ngFor="let skill of skills">
      <h3>{{skill.label}}</h3>
      <p>{{skill.desc}}</p>
    </div>
  </div>
  <div class="box">
    <h2>Equipment</h2>
    <div *ngFor="let item of equipment">
      <h4>{{item.label}}</h4>
      <p>{{item.desc}}</p>
      <div *ngFor="let modifier of item.modifiers">
        <p><b>{{modifier.label}}</b>: {{modifier.value}}</p>
      </div>
    </div>
  </div>
  <div class="box">
    <h2>Bio</h2>
    <h3>Appearance</h3>
    <p>{{character.info.appearance}}</p>
    <h3>Personality</h3>
    <p>{{character.info.personality}}</p>
    <h3>Background</h3>
    <p>{{character.info.background}}</p>
    <h3>Motivation</h3>
    <p>{{character.info.motivation}}</p>
    <h3>Introduction</h3>
    <p><i>This will be created by the DM and will explain how your character arrived at the starting point, please get in touch if you'd like to make any alterations once it's done</i></p>
    <p>{{character.info.introduction}}</p>
  </div>
</div>
