<div class="box fill">
  <img src="/assets/races/avatar-woodelf.png">
  <div class="info">
    <h1>Wood Elf</h1>
    <p>
      The most neutral of the three elven races, wood elves like to keep to themselves and are most happy when at one
      with nature. They tend to have tanned skin and stand on average between 4'5" and 5'9" tall.
    </p>

    <h3>Stat Bonuses</h3>
    <p>
      +2 to Agility, +1 to Constitution, +1 to Spirit
    </p>

    <h3>Quickstep</h3>
    <p>
      +2 to <b>movement</b>
    </p>
  </div>
</div>
