<h1>Cleric</h1>
<p>
  Clerics are devoted to helping the living stay living, and as such in combat they are focused on healing their
  teammates.
</p>
<h3>Hit Die</h3>
<p>d8</p>
<h3>Important stats</h3>
<p>Spirit, Constitution</p>
<h3>Starting equipment</h3>
<p>Damaged Cloth Robe, Damaged Mace, Damaged Wooden shield</p>
<h3>Proficiencies</h3>
<p>
  Light Armour, Medium Armour, Simple Weapons, Small Weapons, Medium Weapons, Small Shields
</p>
<h3>Abilities</h3>
<table>
  <tr class="header">
    <td>Level</td>
    <td>Name</td>
    <td>Description</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Lesser heal</td>
    <td>
      Action - once per encounter - heal an ally for 1d6+SPI health
    </td>
  </tr>
  <tr>
    <td>3</td>
    <td>Holy Light</td>
    <td>
      Action - attack vs SPI on an enemy within 10m, on hit does 1d6+SPI <b>light</b> damage
    </td>
  </tr>
  <tr>
    <td>3</td>
    <td>Heal</td>
    <td>
      Action - once per encounter - heal an ally for 2d6+SPI health
    </td>
  </tr>
  <tr>
    <td>5</td>
    <td>Guardian</td>
    <td>
      Action - once per encounter - bless an ally with a guardian spirit, giving them 1d4+SPI armour next round
    </td>
  </tr>
  <tr>
    <td>7</td>
    <td>Greater heal</td>
    <td>Action - once per encounter - heal an ally for 3d6+SPI health</td>
  </tr>
  <tr>
    <td>9</td>
    <td>Purge</td>
    <td>Action - once per encounter - purge an ally of any poison or disease</td>
  </tr>
  <tr>
    <td>...</td>
    <td>...</td>
    <td>...</td>
  </tr>
</table>
