<div class="box fill">
  <h1>Cleric</h1>
  <p>
    Clerics are devoted to helping the living stay living, and as such in combat they are focused on healing their
    teammates.
  </p>
  <h3>Hit Die</h3>
  <p>d8</p>
  <h3>Important stats</h3>
  <p>Spirit, Constitution</p>
  <h3>Starting equipment</h3>
  <p>Damaged Cloth Robe, Damaged Mace, Damaged Wooden shield</p>
  <h3>Proficiencies</h3>
  <p>
    Light Armour, Medium Armour, Simple Weapons, Small Weapons, Medium Weapons, Small Shields
  </p>

  <h2>Progression</h2>
  <table class="wide">
    <tr class="header">
      <td>Level</td>
      <td>Unlocks</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Skill - Lesser heal</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Skill - Holy Light</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Skill - Heal</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Skill - Guardian</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Skill - Purge</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Skill - Greater heal</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>11</td>
      <td>TODO</td>
    </tr>
  </table>

  <h2>Skills</h2>

  <h3>Lesser Heal</h3>
  <p>
    Action - once per encounter - heal an ally for 1d6+SPI health
  </p>

  <h3>Holy Light</h3>
  <p>
    Action - attack SPI vs SPI on an enemy within 10m, on hit does 1d6+SPI <b>light</b> damage, does an additional 1d6 damage
    to undead enemies.
  </p>

  <h3>Guardian</h3>
  <p>
    Action - once per encounter - bless an ally with a guardian spirit, giving them 1d4+SPI armour next round
  </p>

  <h3>Purge</h3>
  <p>
    Action - once per encounter - purge an ally of any poison or disease
  </p>

  <h3>Greater Heal</h3>
  <p>
    Action - once per encounter - heal an ally for 3d6+SPI health
  </p>
</div>
