<div class="box fill">
  <img src="/assets/races/avatar-iksar.png">
  <div class="info">
    <h1>Iksar</h1>
    <p>
      The most hated race in Solusek for their part in starting The Great War, Iksar are easily recognisable by their
      scaled, lizard-like skin. Said to be descended from the mating between ancient dragons and humans.
    </p>

    <h3>Stat Bonuses</h3>
    <p>
      +2 to Strength, +2 to Constitution, +1 to Agility, -1 to Intelligence, -1 to Charisma
    </p>

    <h3>Scaled</h3>
    <p>
      +1 to <b>armour</b> (increases to +2 at level 5, +3 at level 10, +4 at level 15 and +5 at level 20)
    </p>
  </div>
</div>
