<div class="box fill">
  <h1>Necromancer</h1>
  <p>
    To some, death is not something to be feared but to be harnessed for power. Necromancers study and hone
    their ability to control the forces of life and death directly. Their main role in combat is damage.
  </p>
  <h3>Hit Die</h3>
  <p>d6</p>
  <h3>Important stats</h3>
  <p>Intelligence, Constitution, Agility</p>
  <h3>Starting equipment</h3>
  <p>Damaged Cloth Robe, Damaged Dark Wand, Damaged Staff</p>
  <h3>Proficiencies</h3>
  <p>
    Simple Weapons, Magic Weapons
  </p>
  <h2>Progression</h2>
  <table class="wide">
    <tr class="header">
      <td>Level</td>
      <td>Unlocks</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Skill - Animate Bones</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Skill - Life Tap</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Skill - Gift Life</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Skill - Weaken</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Skill - Toxic</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Skill - Animate Champion</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>11</td>
      <td>TODO</td>
    </tr>
  </table>

  <h2>Skills</h2>

  <h3>Animate bones</h3>
  <p>
    Action - once per encounter - raise a skeleton from the dead under the characters control. It has (1d4 + CON) * level
    health, 3 movement, 0 Dodge, 1 Armour, 1d20 + INT attack, and does 1d4 + INT damage
  </p>

  <h3>Life Tap</h3>
  <p>
    Action - once per encounter - attack INT vs INT on an enemy within 10m dealing 1d6+INT <b>dark</b> damage, the necromancer
    gains health equal to the damage done
  </p>

  <h3>Gift Life</h3>
  <p>
    Action - once per encounter - the necromancer gives 1d6+INT of their own health to a target ally
  </p>

  <h3>Weaken</h3>
  <p>
    Action - once per encounter - attack INT vs CON on a target enemy within 10m, if they fail they are diseased with a
    strength equal to the initial attack roll. They are force to make a saving throw at the start of each round
    against the disease strength, otherwise they take 1d6 damage and suffer -2 to STR.
  </p>

  <h3>Toxic</h3>
  <p>
    Action - once per encounter - attack INT vs CON on a target enemy within 10m, if they fail they are poisoned with a
    strength equal to the initial attack roll. They are force to make a saving throw at the start of each round
    against the disease strength, otherwise they take 1d6+INT damage.
  </p>

  <h3>Animate Champion</h3>
  <p>
    Action - once per day - raise the bones of a long dead champion under your control. It has (1d6 + CON) *
    level health, 5 movement, 4 Dodge, 5 Armour, 1d20 + INT attack, and does 2d6 + INT damage.
  </p>
</div>
