<div class="box fill" *ngIf="spellGroup">
  <h1 id="{{spellGroup.label}}">Spellbook - {{spellGroup.label}}</h1>
  <p>
    <button class="button clickable" (click)="showAllDetail()">Detail Mode</button>
    <button class="button clickable" (click)="hideAllDetail()">List Mode</button>
  </p>
  <div *ngFor="let rank of spellGroup.ranks">
    <div *ngIf="rank">
      <h2 class="centered">Rank {{rank.rank}}</h2>
      <div class="centered">
        <spell-card *ngFor="let spell of rank.spells" class="card" [spellName]="spell"
                    [showDetail]="showAll"></spell-card>
      </div>
    </div>
  </div>
</div>



