<div class="box fill">
  <h1>Lore</h1>
  <p>
    Across the world of Solusek, the Great War raged for 1000 years. Death and destruction across generations and
    generations.
    All knew suffering, the greatest of which being the race of goblins, used as fodder by the armies of Innoruk (Dark
    Elves, Ogres, Trolls and Iksar),
    almost driven to extinction against the armies of Marr (Humans, High Elves, Wood Elves, Dwarves and Halflings).
  </p>
  <p>
    Only within the last 60 years has a tentative peace been agreed upon by champions from both sides, Archmage Belgarath and
    Warlock Anathus, ancient and powerful figures revered by some as gods among men.
  </p>
  <p>
    Recovering from such a war is not easy however, and though a relative peace is in place, bad blood between
    the races still runs deep. A generation left in the shadow of the war, poverty and crime are daily concerns for most
    people save a few of the most powerful.
  </p>

  <h2>World</h2>
  <p>
    TODO will attempt to create a map at some point
  </p>

  <h2>Gods</h2>
  <p>
    The gods are split into 2 main sects, knows as the <b>Fathers</b>. Beneath each of these are the <b>Lesser Spirits</b>.
    Since the end of the war, diversity of beliefs has somewhat increased, however historically your race has dictated
    which Father you worship (if any).
  </p>

  <h3>Innoruk - Father of Chaos</h3>
  <p>
    Innoruk represents chaos, his followers believing that the greatest civilizations are developed through freedom
    and natural selection, rather than law and order.
  </p>

  <h4>Vis - Spirit of Power</h4>
  <p>
    Vis represents the hunt for power at all costs. Followers see the furthering of ones own power as their primary goal
    in life.
  </p>

  <h4>Gek - Spirit of Growth</h4>
  <p>
    Gek represents the idea of growth in all things, respecting the concepts of improving oneself and the society around them.
  </p>

  <h4>Dun - Spirit of Death</h4>
  <p>
    Dun represents the inevitability of death, and followers have great reverence for the passing between the worlds
    of living and the dead.
  </p>

  <h3>Marr - Father of Order</h3>
  <p>
    Marr represents order, his followers believing that firm law and order is required to ensure that all citizens are
    treated equally and fairly.
  </p>

  <h4>Tir - Spirit of Pride</h4>
  <p>
    Tir represents pride for oneself and others, and the idea of nurturing family.
  </p>

  <h4>Sen - Spirit of Honour</h4>
  <p>
    Sen represents honour in all things, followers strongly believe in their personal code of honour and rarely stray from it.
  </p>

  <h4>Hep - Spirit of Wisdom</h4>
  <p>
    Hep represents wisdom and the thirst for knowledge. Followers are usually found in libraries, improving themselves
    through learning.
  </p>

  <h2>More to come...</h2>

</div>
