<div class="box fill">
  <h1>History</h1>
  <h2>The Creation</h2>
  <p>
    First came The Fathers, Marr and Innoruk. These great spirits, born from the stars, arrived on Solusek and began
    their dominion.
  </p>
  <p>
    Marr created the races of Human, Elf, Halfling, Dwarf, Giant and Fey, as well as the spirits Tir, Sen and Hep to watch over them.
  </p>
  <p>
    Innoruk created the races of Iksar, Troll, Ogre, Goblin and Fel, as well as the spirits Vis, Gek and Dun to guide them.
  </p>
  <p>
    For centuries the races developed in isolation, the Fey holding dominion over the east and the Fel over the west. However
    as time went on and their reach spread, the races collided and due to their differences small battles over
    territory naturally erupted.
  </p>
  <h2>The Great Separation</h2>
  <p>
    In the Elf city of Lunathil, a young Prince named Elias Erudar, destined to never become king (due to his 3 older brothers),
    grew ambitious. A Fel Lord by the name of Azureal took advantage of Elias' growing disobedience and offered him power in return for the betrayal
    of his kind.
  </p>
  <p>
    Azureal, along with Elias and the prince's loyal followers, struck at the heart of the elves, slaying Elias' mother Queen
    Illiana. This drove the elves into civil war and eventually separation.
  </p>
  <p>
    Elias and his followers were marked by the Fel Lord Azureal and along with granting them extra physical abilities, this
    gradually altered their appearance and gave them a distaste for sunlight. They became the first Dark Elves and built a
    new underground home, known as the Underdark.
  </p>
  <p>
    While the Elven shamans and rangers detested the actions of Elias and his followers, they wanted neither vengeance or war,
    and left Lunathil, retreating into The Endless Forest and creating the tree-city Erethil as the first Wood Elves.
  </p>
  <p>
    Elias' brothers and the remaining elves in Lunathil tried to rebuild order, vowing to take vengeance on Elias.
    The ensuing battles between what were now known as the High Elves and the Dark Elves resulted in the deaths of many and eventually Elias
    was slain by his older brother Kael, who became King of the High Elves. The hatred between the High Elves and
    Dark Elves remained however, and the battles continued.
  </p>
  <h2>The Great War</h2>
  <p>
    The Fey, a race that valued life above all else, finally grew sick of the squabbles of what they considered the "lesser races",
    and constructed the first rift to another, unpopulated world, and left Solusek not to be seen or heard from since.
  </p>
  <p>
    The Fel, always looking for their chance to seize power, took this opportunity to strike. They rallied the western armies
    under the banner of Innoruk to strike at the east.
  </p>
  <p>
    The Iksar initially resisted, not liking the idea of bowing to the Fel, however to prove a point the Fel laid waste to
    their home (now known as 'Old Cabilis'), and after being forced to a new home, the Iksar finally had to succumb to their Fel lords.
  </p>
  <p>
    The armies of Marr knew that they must fight back together or be overwhelmed, and so The Great War began. Many blamed the war on the
    Fey for abandoning the ideals of Marr; others simply blamed the Fel for their insatiable hunger for power at all costs.
  </p>
  <p>
    The war raged for 1000 years; death and destruction unmeasurable across generations and generations.
  </p>
  <h2>Peace at last</h2>
  <p>
    60 years ago, champions from each side - the Human Archmage Belgarath and the
    Dark Elf Warlock Anathus - began peace talks.
  </p>
  <p>
    Both powerful and wise spellcasters, the champions saw the Fel as the plague that caused the war and decided to combine their power to create a
    giant rift. The rift was a link to a faraway world, which they forced the Fel through and closed it for good.
  </p>
  <p>
    Alas, peace takes time to proliferate, and the battles between the Dark Elves and the Stone Guard of Sherridon continued for
    years after, before finally ending in betrayal. A member of the Stone Guard, mistakenly betrayed his own,
    leading to a slaughter that is now known as The Night of the Long Knives.
  </p>
  <p>
    Since that night peace between the races has held, though recovering from such a war is not easy and bad blood between
    the races still runs deep. A generation left in the shadow of the war, trying to rebuild in a world full of poverty,
    crime, and distrust.
  </p>
</div>

<div class="box fill">
  <h1>The Known World</h1>
  <p>
    The following map represents the <i>known</i> world of Solusek. Such a large period of time being focused on war has meant many places are not documented
    and will need to be discovered.
  </p>
  <div class="map">
    <img src="../../assets/map.jpg">
  </div>

  <h2>Points of Interest</h2>

  <h3>Cabilis</h3>
  <p>
    Large canal network and home to the Iksar. Old Cabilis was their old home but was destroyed by demons.
  </p>

  <h3>Erethil</h3>
  <p>
    Hidden tree-city home to the Wood Elves, some say it's impossible to find within The Endless Forest if the elves do not wish you to.
  </p>

  <h3>Freeport</h3>
  <p>
    The trading hub of the world, multicultural though still majorly human.
  </p>

  <h3>Grobb</h3>
  <p>
    Swamp based home deep within The Marshlands, inhabited by the Trolls.
  </p>

  <h3>Hilltop</h3>
  <p>
    The green and hilly home to the Halflings (and some Hill Dwarves).
  </p>

  <h3>Iron Mountain</h3>
  <p>
    Large spire-like city, home to the Dwarves, known as the Iron Mountain as from a distance it appears similar to a mountain in shape.
  </p>

  <h3>Lunathil</h3>
  <p>
    Grand lakeside city home to the High Elves and the Pale Tree (a white, ancient magical tree).
  </p>

  <h3>Orgrot</h3>
  <p>
    Set in the hills on the edge of The Marshlands is the home to the Ogres.
  </p>

  <h3>Qur'Atil</h3>
  <p>
    Desert based home to humans, mainly slavers and giant-hunters.
  </p>

  <h3>Sherridon</h3>
  <p>
    Once a great defensive post on the outskirts of The Endless Forest, Sherridon suffered from the war and is now a town
    trying to rebuild it's economy.
  </p>

  <h3>Underdark</h3>
  <p>
    An underground metropolis home to the Dark Elves.
  </p>

  <h3>The Islands of Envy</h3>
  <p>
    A group of warm, tropical islands home to Humans and Tabaxi. Mostly made up of smaller fishing villages as well as monk monasteries which follow the
    <b>Orders of Enlightenment</b>.
  </p>
  <p><b>Osha</b>: The largest of the 3 main islands and home to the <b>Shin</b> order.</p>
  <p><b>Otaki</b>: The second largest and home to the <b>Tao</b> order.</p>
  <p><b>Oroch</b>: The smallest of the main islands and home to the <b>Yun</b> order.</p>

  <p>
    Each of the 3 orders is split into 2 sects, the monks (jin) and the guardians (ra) which is denoted in the order suffix,
    For example the two sects on Osha would be the Shinjin and the Shinra.
  </p>
  <p>
    When a Monk apprentice is sent on a path of enlightenment, they are paired with a member of the Guardians to protect and advise.
    Usually this forms a strong bond of companionship and teaches the apprentice the value of others.
  </p>
  <p>
    Monks and Guardians alike are considered 'Enlightened' once they have achieved their first path. On completion of their 3rd, they are considered
    'Masters'. Each sect also has a single Grandmaster who is voted in when previous Grandmaster dies.
  </p>

</div>

<div class="box fill">
  <h1>The Pantheon</h1>
  <p>
    The gods are split into 2 main sects, knows as the <b>Fathers</b>. Beneath each of these are the <b>Lesser Spirits</b>.
    Since the end of the war, diversity of beliefs has somewhat increased, however historically your race has dictated
    which Father you worship (if any).
  </p>

  <h2>Innoruk - Father of Chaos</h2>
  <p>
    Innoruk represents chaos, his followers believing that the greatest civilizations are developed through freedom
    and natural selection, rather than law and order.
  </p>

  <h3>Vis - Spirit of Power</h3>
  <p>
    Vis represents the hunt for power at all costs. Followers see the furthering of ones own power as their primary goal
    in life.
  </p>

  <h3>Gek - Spirit of Growth</h3>
  <p>
    Gek represents the idea of growth in all things, respecting the concepts of improving oneself and the society around them.
  </p>

  <h3>Dun - Spirit of Death</h3>
  <p>
    Dun represents the inevitability of death, and followers have great reverence for the passing between the worlds
    of living and the dead.
  </p>

  <h2>Marr - Father of Order</h2>
  <p>
    Marr represents order, his followers believing that firm law and order is required to ensure that all citizens are
    treated equally and fairly.
  </p>

  <h3>Tir - Spirit of Pride</h3>
  <p>
    Tir represents pride for oneself and others, and the idea of nurturing family.
  </p>

  <h3>Sen - Spirit of Honour</h3>
  <p>
    Sen represents honour in all things, followers strongly believe in their personal code of honour and rarely stray from it.
  </p>

  <h3>Hep - Spirit of Wisdom</h3>
  <p>
    Hep represents wisdom and the thirst for knowledge. Followers are usually found in libraries, improving themselves
    through learning.
  </p>
</div>

<div class="box fill">
  <h1>Non Playable Races</h1>
  <p>
    These are the races mentioned in lore that are not playable.
  </p>
  <h2>Fey</h2>
  <p>
    The Fey are the most powerful and loved creation of Marr. They respect life above all else due to the fact they live many years,
    and therefor each death is seen as a great loss. This is why they could not bear to coexist with the other races, who
    did not respect life in the same way, and decided to leave Solusek.
  </p>
  <p>
    Ironically, the Fey leaving caused more death and destruction in the form of The Great War, and they have not been seen
    or heard from since. Previously they lived in the now High Elf city of Lunathil.
  </p>
  <p>
    The Fey are similar in appearance to High Elves until maturity when they develop angelic wings. Ancient Fey are also
    said to have a halo-like glow around their brow.
  </p>

  <h2>Fel</h2>
  <p>
    The Fel, also known as demons, are seen as the most evil of all the races due to their need to feed on the spirit
    of other creatures (including other Fel). All Fel grow up in a very survive or die mentally due to the threat of being
    consumed by others of their kind. They have no notion of family or loyalty but to follow a hierarchy governed
    by power and fear.
  </p>
  <p>
    The Fel originally lived near the location of the now Underdark, they have not been seen since they were banished
    at the end of the Great War.
  </p>
  <p>
    Fel take on the physical characteristics of creatures they consume, which usually results in odd looking combinations, however the one common
    trait is their sharp yellow eyes.
  </p>

  <h2>Goblins</h2>
  <p>
    Simple in desire but cunning in execution, goblins were affected greatly by the Great War. Seen by the armies of Innoruk
    as fodder, Goblins now have a lingering distrust for all other races. They tend to keep to themselves, living in small
    tribes scattered across the land.
  </p>
  <p>
    Goblins are similar in size to Halflings, however are slightly more slender and have the green skin of Trolls.
  </p>

  <h2>Giants</h2>
  <p>
    A result of living a long, slow life, Giants rarely procreate and as a result are quite rare. They do not tend to
    stay together in large groups and usually roam individually or as a single family unit. Similar to Goblins, Giants
    tend to avoid the other races after being hunted for their incredibly strong bones.
  </p>
  <p>
    Most giants reside in the deserts southeast of Qur'Atil, though they can be found wandering across the land.
  </p>
  <p>
    Giants vary largely in size and usually stand anywhere between 20' and 50' tall. The largest on record
    is Briggs 'The Collosus' who stood at 58'.
  </p>
</div>
