<h1>Paladin</h1>
<p>
  A cross between a Warrior and a Cleric, Paladins combine their fighting abilities with healing spells. They are also
  particularly effective against undead enemies. Paladins can either focus on a tanking role, or as a healer.
</p>
<h3>Hit Die</h3>
<p>d10</p>
<h3>Important stats</h3>
<p>Constitution, Strength, Spirit</p>
<h3>Starting equipment</h3>
<p>Damaged Chain Armour, Rusty Bastard Sword</p>
<h3>Proficiencies</h3>
<p>
  Light Armour, Medium Armour, Heavy Armour, Simple Weapons, Small Weapons, Medium Weapons, Large Weapons, Small
  Shields, Medium Shields
</p>
<h3>Abilities</h3>
<table>
  <tr class="header">
    <td>Level</td>
    <td>Name</td>
    <td>Description</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Lay on hands</td>
    <td>
      Action - once per day - touch a friendly target (including themselves), healing the target
      to full health
    </td>
  </tr>
  <tr>
    <td>3</td>
    <td>Courage</td>
    <td>
      Action - once per encounter - bless an ally with courage, giving them 1d6+SPI temporary hit points
    </td>
  </tr>
  <tr>
    <td>3</td>
    <td>Turn undead</td>
    <td>
      Action - once per encounter - Attack vs SPI on an undead opponent within 10m, the enemy takes 1d6+SPI
      damage and are stunned next round
    </td>
  </tr>
  <tr>
    <td>5</td>
    <td>Shield Block</td>
    <td>
      Instant - once per round, when a friendly ally within 2m is being attacked, you may take the attack in their
      place
    </td>
  </tr>
  <tr>
    <td>7</td>
    <td>Heal</td>
    <td>Action - once per encounter - heal an ally for 2d6+SPI health</td>
  </tr>
  <tr>
    <td>9</td>
    <td>Extra Attack</td>
    <td>Passive - once per round - the character can perform an additional attack with their main weapon</td>
  </tr>
  <tr>
    <td>...</td>
    <td>...</td>
    <td>...</td>
  </tr>
</table>
