nav {
  height: 40px;
  padding: 5px;
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  line-height: 40px;
  padding-right: 10px;
  color: #F5F1E3;
}

nav a:visited {
  color: #F5F1E3;
}

.content {
  padding: 10px;
  margin-top: 45px;
}

