<div class="box fill">
  <h1>DM</h1>
  <p>
    This page contains the DM's notes for the campaign. <b>If you've somehow found your way here past my super
    sophisticated access control, I recommend you look away as it may contain story spoilers!</b>
  </p>
</div>

<div class="box fill">
  <h1>Prologue</h1>
  <p>
    Basic world lore?
  </p>
  <p>
    Introduce the concepts to the guys and recap their introductions if necessary. The last thing each of them remember
    is the dark alley across from The Lazy Druid tavern in Freeport.
  </p>
</div>

<div class="box fill">
  <h1>Scenario 1 - Cursed</h1>

  <h2>Introduction</h2>
  <p>
    Get all the characters to roll CON, and note the order. They will slowly wake up one by one.
  </p>
  <p>
    Your head pounds as you lie on the cold stone floor, ears ringing and vision black. Gradually, X, you groggily
    open your eyes as the ringing in your ears fades and in replaced by the sound of a woman screaming.
  </p>
  <p>
    You look around slowly as you sit up, gasping as the movement sends daggers of pain through your skull. You can just
    about make out the
    figure beside you, X, a /race/ also coming to, followed quickly by a /race2/ and /race3/.
  </p>
  <p>
    Along the wall next to x, is a small girl whimpering on the floor, and past her a thin middle aged man covered in
    bruises. He is pulling at the collar around his neck, which appears to be chained to the wall behind him. At this
    point you notice
    you each have a similar collar.
  </p>
  <p>
    The man is urgently trying to get to where you now realise is the source of the screaming. A middle aged though
    still
    quite pretty, woman, being dragged across the floor by two men. These men are dressed in incredibly tattered robes
    and look like normal church acolytes other than the fact that their eyes are completely black.
  </p>
  <p>
    They do not seem to be reacting to the woman as she kicks and screams, and effortlessly lift her onto a stone altar
    at the other end of the room. Just past the altar you can see what looks like a round mirror. (Robin roll an
    intelligence
    check for magical knowledge, pass reveals it as a minor rift, strong pass reveals a rift to the Fel world).
  </p>
  <p>
    Another man, shrouded in black robes, moves toward the altar with a serrated dagger, and without hesitation plunges
    the knife into the woman's chest. Her screaming stops the man next of you cries out "Oh god, oh god no..."
    hysterically
    before falling to the ground. You notice the mirror/rift behind the altar shimmering for a few seconds before the
    woman goes completely limp.
  </p>
  <p>
    The robed man moves away and the two acolytes lift the lifeless body and toss it aside onto a pile of roughly
    a dozen other corpses. They then begin walking back towards your end of the room, eyes fixed on young girl.
  </p>
  <p>
    The man notices them and starts to completely lose it. Shouting and screaming at them "Get away from her you
    monsters!", though they do not react. As
    they reach the girl and attempt to unshackle her collar, the man manages to reach one of them and grabs him
    furiously, scratching and biting.
  </p>
  <p>
    You hear the robed figure shout harshly, "Fine, bring him first before he causes more trouble!".
  </p>
  <p>
    The acolytes immediately turn to the man and one of them and again, not reacting to his attempts to fight them, they
    unshackle his collar
    and begin dragging him toward the center of the room. As they lift him onto the altar, he locks his gaze with you
    Roariuh and shouts, "Please, protect her",
    just before the robed man stabs him in the chest. The mirror/rift shimmers again and the acolytes toss the now dead
    man aside and begin walking back.
  </p>
  <p>
    At this point your senses have finally regained and you feel like you may be able to do something. You each have
    time for 1 action before the
    acolytes make it back over to the girl. /Give the players a chance to get free now, and improvise accordingly, the
    girl can die (and ends up a spirit
    in the demon) or survive and end up a companion./
  </p>

  <h2>Encounter</h2>

  <h3>Hollow Man x2</h3>
  <ul>
    <li><b>Level</b> - 1</li>
    <li><b>Primary Stats</b> - 3 STR, 3 CON, 2 AGI, 0 INT, 0 SPI, 0 CHA</li>
    <li><b>Secondary Stats</b> - 11 health, 2 movement, 12 dodge, 0 armour</li>
    <li><b>Damage</b> - 1d4+2</li>
  </ul>

  <h4>Grapple</h4>
  <p>
    Action - once per encounter - attempts grapples the target for a DC of 1d20+STR, the target is held and must make a
    STR saving throw vs the DC at the beginning of each
    turn to see if they are free. While the target is grappled they are considered stunned.
  </p>

  <h3>Hollowing Necromancer</h3>
  <ul>
    <li><b>Level</b> - 2</li>
    <li><b>Primary Stats</b> - 1 STR, 3 CON, 3 AGI, 4 INT, 1 SPI, 0 CHA</li>
    <li><b>Secondary Stats</b> - 9 health, 3 movement, 13 dodge, 0 armour</li>
    <li><b>Damage</b> - 1d4+4</li>
  </ul>

  <h4>Life Tap</h4>
  <p>
    Spell (2) - attack INT vs INT, on hit deals 1d4+INT dark damage and heals the caster for the same
    amount
  </p>

  <h3>Followup</h3>
  <p>
    There is a loud snarl from the rift and through it climbs a hulking figure ou struggle to make out. It is a mess of
    hair, scales and skin, has bat like wings and the face of a black wolf with two small horns.
  </p>
  <p>
    As the creature claws his way out of the rift, and stands up, you judge him to be about 7' tall. The rift behind him
    almost sticks
    to him, and you can tell he is struggling to not be pulled back into it.
  </p>
  <p>
    The necromancer looks toward the creature and begs "please master, help me!". The creature mutters something in a
    gutteral
    language you don't understand and leaps toward the necromancer, ripping his head clean off and drinking the blood.
  </p>
  <p>
    The creature then turns his attention on you, but can't pull far enough away from the rift to reach you. It looks
    rather annoyed, then makes a sound you assume is a chuckle, and with a claw outstretches, releases 4 tenrils of
    pure black smoke towards each of you.
  </p>
  <p>
    As the smoke hits each of you, your vision goes black and you feel an intense burning sensation on the skin of your
    chest. A few seconds later, your vision returns and the creature continues to chuckle. He then speaks, and this time
    you understand him "I'll be seeing you soon, slaves", and he then stops resisting the rift, which pulls him back
    through
    it before closing.
  </p>
  <p>
    You are left with a very odd feeling in your stomach and the lingering burning sensation on your chest.
  </p>
</div>

<div class="box fill">
  <h1>Scenario 2 - Seeking Help</h1>

  <h2>Introduction</h2>
  <p>
    They go to the lazy druid inn and Gregory speaks to them, leads them to the wizard's circle in the city centre.
  </p>

  <h2>Archmage</h2>
  <p>
    They first meet Articus, a pompous and unhelpful wizard who doesn't believe them. Archmage Belgarath then appears,
    and explains the gravity of the mark. He says an old friend Enchantress Yiani will help block the effects on their
    minds, however not cure it.
  </p>
  <p>
    They set off on their travels, a day on foot. Belgarath explains he would take them but him and Yiana are not on
    best terms.
  </p>

  <h2>Encounter</h2>
  <p>
    The part are ambushed by bandits.
  </p>

  <h3>Bandit Leader</h3>
  <ul>
    <li><b>Level</b> - 2</li>
    <li><b>Primary Stats</b> - 3 STR, 3 CON, 4 AGI, 2 INT, 1 SPI, 1 CHA</li>
    <li><b>Secondary Stats</b> - 21 health, 5 movement, 14 dodge, 1 armour</li>
    <li><b>Damage</b> - 1d6+3</li>
  </ul>

  <h3>Bandit x5</h3>
  <ul>
    <li><b>Level</b> - 1</li>
    <li><b>Primary Stats</b> - 3 STR, 2 CON, 4 AGI, 2 INT, 1 SPI, 1 CHA</li>
    <li><b>Secondary Stats</b> - 8 health, 5 movement, 14 dodge, 0 armour</li>
    <li><b>Damage</b> - 1d4+3</li>
  </ul>

  <h2>Nightmare</h2>
  <p>
    When party rest, their dreams are filled with visions of a dark and barren landscape full of death and torture. Corpses
    of unknown creatures litter the ground while hulking figures consume them. Suddenly a giant demon towers below you,
    fangs large than yourself threatening tear your limb from limb. The demon shrinks and takes the appearance of Sophea who
    walks towards you, giggling, before taking a knife and plunging it into your stomach. You awake screaming, covered
    in sweat.
  </p>

  <h2>The Enchantress (intro)</h2>
  <p>
    The tower is tall, dark and threatening, surrounded by dead trees shrouded in mist. As you approach a feeling of dread
    washes over you, every bone in your body wanting to turn and run. As you reach the tower, the image shift and suddenly
    you are looking at a tiny woodland cottage, nestled against a hill, with a wooden door about the right size for you Mordan.
    The surrounding trees are no longer dead, but vibrant and green, and you realise the feeling of dread has vanished.
  </p>
  <p>
    Upon entering the cottage, you are surprised to enter not what you expected, but what appears to be a large underground
    cavern. In the center, blocking your path is a cavern about 10 feet wide. They just have to walk across the cavern.
  </p>
  <p>
    You enter into a narrow, long room, on the far end is a wall covered in a mirror. As you approach the mirror, the reflection
    moves and begins to step out from the mirror. Each of your reflections does this.
  </p>

  <h2>Encounter</h2>

  <h3>Mirror Image</h3>
  <p>
    Each an exact copy of the characters, main difference is they die upon taking any damage.
  </p>

  <h2>The Enchantress (Followup)</h2>
  <p>
    You enter an extremely large ornate throne room. At the far end of the room in a giant throne, and on it sat the biggest
    woman you have ever seen. Reaching about 30' even sitting down, she smiles down at you and says
    "Greeting, tiny people, I hope you enjoyed the journey here", she giggles like a child.
  </p>
  <p>
    The enchantress casts protect mind on the party, blocking the reach of the demon for some time. Directs them to return
    to Belgarath and suddenly the party find themselves outside of the tiny looking cottage.
  </p>
</div>

<div class="box fill">
  <h1>Scenario 3 - Revelation</h1>

  <h2>Introduction</h2>
  <p>
    Belgarath begins his spell of revelation. Two translucent images of Kevnan and Holly appear in the room, they seem to be arguing
    however there is no sound.
  </p>
  <p>
    Suddenly a rift opens in front of the fireplace and through it staggers a wounded fey woman. The woman is beautiful, with similar colouring
    to Sophea, smooth pale skin and dark black hair. She has one angelic wing, the other appears to have been torn off.
  </p>
  <p>
    The woman falls to her knees, clearly wounded. She holds up the baby and Holly rushes forward and takes it.
    Kevnan reluctantly steps forward and help the Fey to her feet.
  </p>
  <p>
    After some discussion, Kevnan motions upstairs and they head up. Begarath immediately follows and motions for you to do the same. You enter the
    room to see Holly gently lowering the baby into a cot. The fey woman removes an amulet she is wearing and places that along with a leather pouch and
    a piece of parchment in a safe at the far end of the room, she then passes her hand over it motioning in a figure 8, mouths the word 'hide'
    and the safe disappears. She says something to Kevnan and he nods.
  </p>
  <p>
    The fey then walks to the door, staggering slightly on the way, and passers her hand over the handle. The symbols your saw earlier flash across it and the fey
    again falls to her knees.
  </p>
  <p>
    The fey reaches down and kisses the baby, and looks at it smiling for a moment.
  </p>
  <p>
    Suddenly they all look shocked, like they've heard something, and they make their way downstairs. The door is bowing as if someone
    is pushing against it. The fey motions for Kevnan and Holly to go back upstairs and they reluctantly go up.
  </p>
  <p>
    The door flies open and in floats a man wearing intricate red silk robes trimmed with gold. He has dark hair and olive skin with a well
    trimmed beard.
  </p>
  <p>
    There is what seems like a heated exchanged between the man and the fey and she pulls out an ornate silver dagger and launches toward the man with
    surprising speed. He seems ready however and his image shimmers and vanishes, appearing behind her and launching a volley of arcane missiles into
    her back. She falls to the ground and the man floats slowly over, smiling. As he reaches her the fey launches up a ball of fiery light which
    hits the man in the face, sending him screaming back in agony. You notice his face appears badly burned, and in anger he unleashes a wave of black smoke
    which lifts the fey up then smashes he back on the ground. This repeats until the fey's body goes limp.
  </p>
  <p>
    Breathing heavily the main floats up the stairs and looks into the room where holly, kevnan and the baby are, however he appears to see nothing, and
    continues his search around the rest of the house. After searching all the rooms he looks frustrated and leaves, the body of the fey in tow.
  </p>
  <p>
    In the safe is a pouch containing 100 gold coins, an amulet with a pendant the shape of a green leaf with an eye in the center, and a letter:
  </p>
  <p>
    <b>The Letter:</b><br/>
    Sophea,

    If you are reading this then you should have reached your 20th name day. I wish I could be there
    to see you sprout your wings, however I cannot. Our world, the world of the fey, has come under the attack of a
    Demon Lord by the name of Azaril. His corruption is strong, and after finding his way to
    our world he attempted to enslave us. Us Fey do not corrupt easily however, and in his frustration he instead chose
    destruction. I fear we will not survive much longer, and that is why I'm choosing to hide you here in the safe and loving
    hands of my good friend Holly and her husband Kevnan. Treat them well, for they follow a line of distant half-fey
    descendants and will protect you with their lives.

    I sincerely hope this is not the end for us, but if it is you will be the last line of defense for the world of Solusek.
    The Demon Lord will no doubt turn his focus there next. Find people who you trust to help you, for you will need many in
    order to defeat him.

    The amulet is a gift from your father, who has already passed trying to fight back the demons. Wear it with pride, as
    it bears the emblem of our family.

    Your loving mother,
    Freyana Torvaris
  </p>
  <p>
    Belgarath explains the situation with Auron Black and says he must consult with the Warlock Anathus. He directs you to
    investigate the wear-abouts of Auron and his disciples. Possible back where they started in the dungeon.
  </p>
  <p>
    Sophea asks Morden to help her buy a weapon (she wants to help, and if they go they meet Vitto the flamboyant halfling shop owner of Magical Sundries).
  </p>
</div>

<div class="box fill">
  <h1>NPCS</h1>
  <p>
    Stock names:
  </p>
  <p><b>Male: </b>Erigold, Seadak, Otto, Thandil, Drogg, Pennet</p>
  <p><b>Female:</b>Cara, Theand, Milly, Vish</p>

  <h2>Gregory</h2>
  <p>
    Friendly owner and barkeep of The Lazy Druid tavern in Freeport. Known to Ruairih for years (Gregory's a big fan
    of Dwarven ale and Ruairih brings him some from time to time in exchange for room and board).
  </p>
  <p>
    He's 6'3" and slightly overweight, quite an imposing figure but softened by his smiling, friendly demeanor.
  </p>

  <h2>Kevnan</h2>
  <p>
    Thin, middle aged human. Lifelong friend of Gregory.
  </p>

  <h2>Holly</h2>
  <p>
    Wife of Kevnan, middle aged but still pretty.
  </p>

  <h2>Sophea</h2>
  <p>
    Small girl, was accompanying Kevnan and Holly, though her real parents are unknown. He mood tends to shift between
    spritely/playful, and sombre when she recalls the events in the dungeon.
  </p>
  <p>
    She looks like a typical High Elf, apart from the fact that she has long, black hair.
  </p>

  <h2>Belgarath</h2>
  <p>
    Archmage Belgarath is a high level Human Wizard, and famous across the land for his part in ending the great war.
    Since then he hasn't been seen a great deal, and tends to keep to himself in his great tower.
  </p>

  <h2>Anathus</h2>
  <p>
    Warlock Anathus is a high level Dark Elf Necromancer, feared by many but still respected for his part in the ending
    of the great war.
  </p>

  <h2>Yiana</h2>
  <p>
    Enchantress Yiana is a high level Halfling Enchanter, very playful and can be friendly but even after many years
    is still quite reluctant to show her true self, usually opting for an illusion of some kind.
  </p>

  <h2>Sir Reginald Von Darkmoor</h2>
  <p>
    A self confessed Knight Paladin trying to prove himself through adventure. Daddy issues.
  </p>

  <h2>Dodric "Dodd" Pallon</h2>
  <p>
    Squire and #1 fan to Reginald, is taking down notes for the book of their adventures. It's fairly short.
  </p>


  <h1>Hidden Lore</h1>
  <h2>The Ancient Ones</h2>
  <p>
    In ages past, some believe that Marr and Innoruk also created a set of unique beings known as The Ancient Ones. These beings
    had the strength of gods but lived and rules among men
  </p>

  <h3>The Order of Morne</h3>
  <p>
    Morne was one of the ancient ones, a large minotaur like create with great divine power. A group of paladins known
    as the Order of Morne rallied behind Morne, worshipping his great strength and power.
  </p>
  <p>
    Morne and his followers valued honour, strength and valor in battle, and often dueled to near-death within their ranks to
    prove their worth. These duels were done with the greatest of respect and never resulted in the death of the loser, though some
    did abandon the order out of shame.
  </p>
  <p>
    Morne was known to wear these two bracers gifted to him by Marr himself, which granted him great strength in addition
    to his already powerful form.
  </p>
</div>
