<div class="box fill">
  <h1>DM</h1>
  <p>
    This page contains the DM's notes for the campaign. <b>If you've somehow found your way here past my super
    sophisticated access control, I recommend you look away as it may contain story spoilers!</b>
  </p>
</div>

<div class="box fill">
  <h1>Prologue</h1>
  <p>
    Basic world lore?
  </p>
  <p>
    Introduce the concepts to the guys and recap their introductions if necessary. The last thing each of them remember
    is the dark alley across from The Lazy Druid tavern in Freeport.
  </p>
</div>

<div class="box fill">
  <h1>Scenario 1</h1>

  <h2>Introduction</h2>
  <p>
    Get all the characters to roll CON, and note the order. They will slowly wake up one by one.
  </p>
  <p>
    Your head pounds as you lie on the cold stone floor, ears ringing and vision black. Gradually, X, you groggily
    open your eyes as the ringing in your ears fades and in replaced by the sound of a woman screaming.
  </p>
  <p>
    You look around slowly as you sit up, gasping as the movement sends daggers of pain through your skull. You can just about make out the
    figure beside you, X, a /race/ also coming to, followed quickly by a /race2/ and /race3/.
  </p>
  <p>
    Along the wall next to x, is a small girl whimpering on the floor, and past her a thin middle aged man covered in
    bruises. He is pulling at the collar around his neck, which appears to be chained to the wall behind him. At this point you notice
    you each have a similar collar.
  </p>
  <p>
    The man is urgently trying to get to where you now realise is the source of the screaming. A middle aged though still
    quite pretty, woman, being dragged across the floor by two men. These men are dressed in incredibly tattered robes
    and look like normal church acolytes other than the fact that their eyes are completely black.
  </p>
  <p>
    They do not seem to be reacting to the woman as she kicks and screams, and effortlessly lift her onto a stone altar
    at the other end of the room. Just past the altar you can see what looks like a round mirror. (Robin roll an intelligence
    check for magical knowledge, pass reveals it as a minor rift, strong pass reveals a rift to the Fel world).
  </p>
  <p>
    Another man, shrouded in black robes, moves toward the altar with a serrated dagger, and without hesitation plunges
    the knife into the woman's chest. Her screaming stops the man next of you cries out "Oh god, oh god no..." hysterically
    before falling to the ground. You notice the mirror/rift behind the altar shimmering for a few seconds before the
    woman goes completely limp.
  </p>
  <p>
    The robed man moves away and the two acolytes lift the lifeless body and toss it aside onto a pile of roughly
    a dozen other corpses. They then begin walking back towards your end of the room, eyes fixed on young girl.
  </p>
  <p>
    The man notices them and starts to completely lose it. Shouting and screaming at them "Get away from her you monsters!", though they do not react. As
    they reach the girl and attempt to unshackle her collar, the man manages to reach one of them and grabs him furiously, scratching and biting.
  </p>
  <p>
    You hear the robed figure shout harshly, "Fine, bring him first before he causes more trouble!".
  </p>
  <p>
    The acolytes immediately turn to the man and one of them and again, not reacting to his attempts to fight them, they unshackle his collar
    and begin dragging him toward the center of the room. As they lift him onto the altar, he locks his gaze with you Roariuh and shouts, "Please, protect her",
    just before the robed man stabs him in the chest. The mirror/rift shimmers again and the acolytes toss the now dead man aside and begin walking back.
  </p>
  <p>
    At this point your senses have finally regained and you feel like you may be able to do something. You each have time for 1 action before the
    acolytes make it back over to the girl. /Give the players a chance to get free now, and improvise accordingly, the girl can die (and ends up a spirit
    in the demon) or survive and end up a companion./
  </p>

  <h2>Encounter</h2>

  <h3>Hollow Man x2</h3>
  <ul>
    <li><b>Level</b> - 1</li>
    <li><b>Primary Stats</b> - 3 STR, 3 CON, 2 AGI, 0 INT, 0 SPI, 0 CHA</li>
    <li><b>Secondary Stats</b> - 11 health, 2 movement, 12 dodge, 0 armour</li>
    <li><b>Damage</b> - 1d4+3</li>
  </ul>

  <h4>Grapple</h4>
  <p>
    Action - once per encounter - attempts grapples the target for a DC of 1d20+STR, the target is held and must make a STR saving throw vs the DC at the beginning of each
    turn to see if they are free. While the target is grappled they are considered stunned.
  </p>

  <h3>Hollowing Necromancer</h3>
  <ul>
    <li><b>Level</b> - 2</li>
    <li><b>Primary Stats</b> - 1 STR, 3 CON, 3 AGI, 4 INT, 1 SPI, 0 CHA</li>
    <li><b>Secondary Stats</b> - 9 health, 3 movement, 13 dodge, 0 armour</li>
    <li><b>Damage</b> - 1d4+4</li>
  </ul>

  <h4>Life Tap</h4>
  <p>
    Action - once per encounter - attack INT vs INT, on hit deals 1d4+INT dark damage and heals the caster for the same
    amount
  </p>

  <h3>Followup</h3>
  <p>
    There is a loud snarl from the rift and through it climbs a hulking figure ou struggle to make out. It is a mess of
    hair, scales and skin, has bat like wings and the face of a black wolf with two small horns.
  </p>
  <p>
    As the creature claws his way out of the rift, and stands up, you judge him to be about 7' tall. The rift behind him almost sticks
    to him, and you can tell he is struggling to not be pulled back into it.
  </p>
  <p>
    The necromancer looks toward the creature and begs "please master, help me!". The creature mutters something in a gutteral
    language you don't understand and leaps toward the necromancer, ripping his head clean off and drinking the blood.
  </p>
  <p>
    The creature then turns his attention on you, but can't pull far enough away from the rift to reach you. It looks
    rather annoyed, then makes a sound you assume is a chuckle, and with a claw outstretches, releases 4 tenrils of
    pure black smoke towards each of you.
  </p>
  <p>
    As the smoke hits each of you, your vision goes black and you feel an intense burning sensation on the skin of your chest.
    A few seconds later, your vision returns and you see the creature being pulled back into the rift, making it's
    sickening chuckle before vanishing, along with the rift.
  </p>
  <p>
    You are left with a very odd feeling of depression, and the lingering burning on your chest.
  </p>
</div>
<div class="box fill">
  <h1>NPCS</h1>
  <p>
    Stock names:
  </p>
  <p><b>Male: </b>Erigold, Seadak, Otto, Thandil, Drogg, Pennet</p>
  <p><b>Female:</b>Cara, Theand, Milly, Vish</p>

  <h2>Gregory</h2>
  <p>
    Friendly owner and barkeep of The Lazy Druid tavern in Freeport. Known to Ruairih for years (Gregory's a big fan
    of Dwarven ale and Ruairih brings him some from time to time in exchange for room and board).
  </p>
  <p>
    He's 6'3" and slightly overweight, quite an imposing figure but softened by his smiling, friendly demeanor.
  </p>

  <h2>Kevnan</h2>
  <p>
    Thin, middle aged human. Lifelong friend of Gregory.
  </p>

  <h2>Holly</h2>
  <p>
    Wife of Kevnan, middle aged but still pretty.
  </p>

  <h2>Sophea</h2>
  <p>
    Small elvish girl, was accompanying Kevnan and Holly, though her real parents are unknown.
  </p>
  <p>
    She looks like a typical High Elf, apart from the fact that she has long, black hair.
  </p>

  <h2>Belgarath</h2>
  <p>
    Archmage Belgarath is a high level Human Wizard, and famous across the land for his part in ending the great war.
    Since then he hasn't been seen a great deal, and tends to keep to himself in his great tower.
  </p>

  <h2>Anathus</h2>
  <p>
    Warlock Anathus is a high level Dark Elf Necromancer, feared by many but still respected for his part in the ending
    of the great war.
  </p>
</div>
<div class="box fill">
  <h1>Players</h1>
  <div *ngFor="let player of players">
    <div *ngIf="player.character && player.name !== 'Matt' && player.name !== 'Jenny'">
      <h2>{{player.name}}</h2>
      <h3>Basic Details</h3>
      <p><b>Name:</b> {{player.character.info.name}}</p>
      <p><b>Level:</b> {{player.character.level}}</p>
      <p><b>Age:</b> {{player.character.info.age}}</p>
      <p><b>Race:</b> {{player.character.race}}</p>
      <p><b>Class:</b> {{player.character.class}}</p>
    8  <div *ngIf="player.character.primary">
        <h3>Base Stats</h3>
        <table>
          <tr>
            <td class="top">Strength</td>
            <td class="top">{{player.character.stats.str}}</td>
          </tr>
          <tr>
            <td>Constitution</td>
            <td>{{player.character.primary.con}}</td>
          </tr>
          <tr>
            <td>Agility</td>
            <td>{{player.character.primary.agi}}</td>
          </tr>
          <tr>
            <td>Intelligence</td>
            <td>{{player.character.primary.int}}</td>
          </tr>
          <tr>
            <td>Spirit</td>
            <td>{{player.character.primary.spi}}</td>
          </tr>
          <tr>
            <td>Charisma</td>
            <td>{{player.character.primary.cha}}</td>
          </tr>
        </table>
      </div>
      <div *ngIf="player.character.secondary">
        <h3>Secondary Stats</h3>
        <table>
          <tr><td class="top">Health</td><td class="top">{{player.character.secondary.health}}</td></tr>
          <tr><td>Movement</td><td>{{player.character.secondary.movement}}</td></tr>
          <tr><td>Dodge</td><td>{{player.character.secondary.dodge}}</td></tr>
          <tr><td>Armour</td><td>{{player.character.secondary.armour}}</td></tr>
        </table>
      </div>
      <h3>Skills</h3>
      <div *ngFor="let skill of player.character.skills">
      <h4>{{skill.label}}</h4>
      <p>{{skill.desc}}</p>
      </div>
      <h3>Equipment</h3>
      <div *ngFor="let item of player.character.equipment">
      <p>{{item.label}}</p>
      </div>
      <h3>Bio</h3>
      <p><b>Appearance:</b> {{player.character.info.appearance}}</p>
      <p><b>Personality:</b> {{player.character.info.personality}}</p>
      <p><b>Background:</b> {{player.character.info.background}}</p>
      <p><b>Motivation:</b> {{player.character.info.motivation}}</p>
      <p><b>Introduction:</b> {{player.character.info.introduction}}</p>
    </div>
  </div>
</div>
