<div class="box fill">
  <h1>DM</h1>
  <p>
    This section contains the DM's notes for the campaign. <b>If you've somehow found your way here past my super
    sophisticated access control, I recommend you look away as it may contain story spoilers!</b>
  </p>

  <h2>Prologue</h2>

  <h3>Introduction</h3>
  <p>
    Get the players to each make a CON saving throw. Highest roll wakes up first. Consider making the others leave the room?
  </p>
  <p>
    X, you groggily open your eyes, your ears ringing and your head is pounding as try to make our your surroundings.
    Sitting up on the hard stone floor, you realise you are in a cell, about 4 meters long and 3 meters wide, and you are
    not alone. On the ground next to you lies an x, y and z, all of whom are unconscious. Next to your cell is a similar
    one, containing a man, woman and young girl.
  </p>
  <p>

  </p>

  <h3>Monsters</h3>
  <p>
    This section contains details on the monsters used for each encounter.
  </p>

  <h4>Hollow Monk</h4>
  <p>
    Human Monks, hollowed and enslaved by an unknown creature. They look old and pale, with bald heads and saggy skin, wearing
    tattered, dirty robes.
    They move with slowly but seem to be surprisingly strong
  </p>
  <ul>
    <li><b>Level</b> - 1</li>
    <li><b>Primary Stats</b> - 3 STR, 3 CON, 2 AGI, 1 INT, 0 SPI, 0 CHA</li>
    <li><b>Secondary Stats</b> - 11 health, 2 movement, 12 dodge, 0 armour</li>
    <li><b>Damage</b> - 1d4+3</li>
  </ul>

  <h5>Fists of Rock</h5>
  <p>
    Passive - A monks fists are classed as 1d4+STR weapons, they may also attack with each fist separately (i.e. they can make 2 attacks per round)
  </p>

  <h5>Kick</h5>
  <p>
    Action - once per encounter - attack vs dodge on a enemy within melee range, if it hits the target takes 1d6+STR
    damage and is <b>knocked down</b>
  </p>

  <h4>Hollow Necromancer</h4>
  <p>
    Covered with a hooded black robe, you cannot make out his face. He speaks to the acolytes harshly
  </p>

  <ul>
    <li><b>Level</b> - 3</li>
    <li><b>Primary Stats</b> - 1 STR, 3 CON, 3 AGI, 4 INT, 0 SPI, 0 CHA</li>
    <li><b>Secondary Stats</b> - 21 health, 3 movement, 13 dodge, 0 armour</li>
    <li><b>Damage</b> - 1d4+4</li>
  </ul>

  <h5>Animate bones</h5>
  <p>
    Action - once per encounter - raise a skeleton from the dead under the characters control. It has (1d4 + CON) * level
    health, 3 movement, 0 Dodge, 1 Armour, 1d20 + INT attack, and does 1d4 + INT damage
  </p>

  <h5>Life Tap</h5>
  <p>
    Action - once per encounter - attack INT vs INT on an enemy within 10m dealing 1d6+INT <b>dark</b> damage, the necromancer
    gains health equal to the damage done
  </p>

  <h5>Gift Life</h5>
  <p>
    Action - once per encounter - the necromancer gives 1d6+INT of their own health to a target ally
  </p>
</div>
