<div *ngIf="character" class="no-print">
  <div class="box fill nobottom">
    <h1>Character status: {{status}}</h1>
    <div class="tabs">
      <a class="tab" routerLink="races" routerLinkActive="active">Race</a>
      <a [hidden]="!character.race" class="tab" routerLink="classes" routerLinkActive="active">Class</a>
      <a [hidden]="!character.class" class="tab" routerLink="stats" routerLinkActive="active">Stats</a>
      <a [hidden]="!character.baseStats" class="tab" routerLink="info" routerLinkActive="active">Info</a>
      <a [hidden]="!character.info || !character.baseStats" class="tab right" routerLink="summary" routerLinkActive="active">Summary</a>
    </div>
    <div *ngIf="(user | async)?.uid === 'Aq3nWHK9uJaVR8neIJdpGBpTMrg2'">
      <ul>
        <button *ngFor="let player of players | async" (click)="load(player)">{{player.name}}</button>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
