<div id="selection" class="box fill" *ngIf="selectedClass">
  <img src="/assets/classes/{{selectedClass.name}}.png">
  <h1>{{selectedClass.label}}</h1>
  <p>{{selectedClass.desc}}</p>
  <h2>Hit Die</h2>
  <p>{{selectedClass.hit}}</p>
  <h2>Equipment</h2>
  <div *ngFor="let item of equipment">
    <h4>{{item.label}}</h4>
    <p>{{item.desc}}</p>
    <div *ngFor="let modifier of item.modifiers">
      <p><b>{{modifier.label}}</b>: {{modifier.value}}</p>
    </div>
  </div>
  <h2>Skills</h2>
  <div *ngFor="let skill of selectedClass.skills | keys">
    <h3>{{skill.value.label}}</h3>
    <p><b>Level</b>: {{skill.value.level}}</p>
    <p>{{skill.value.desc}}</p>
  </div>
  <div class="footer" *ngIf="(character | async).class && (character | async).class !== selectedClass.name">
    <button (click)="save()">UPDATE</button>
    <p><i>Changing your class will reset any previously made stat choices</i></p>
  </div>
  <div class="footer" *ngIf="!(character | async).class">
    <button (click)="save()">SAVE</button>
  </div>
</div>

<div class="box fill">
  <h1>Select Class</h1>
  <p>Your class defines how you operate in combat, giving you access to a specific set of equipment and abilities. Each
    class has a Hit Die, this controls how much health they start with as well as how much they gain each level.</p>
  <div class="class-icon" *ngFor="let clazz of classes | async" [class.selected]="selectedClass != null && clazz.name === selectedClass.name"
       (click)="select(clazz)">
    <img src="/assets/classes/{{clazz.name}}.png">
    <p>{{clazz.label}}</p>
  </div>
</div>
