<h1>Warrior</h1>
<p>
  The masters of arms, warriors are commonly found at the front of battle clad in heavy armour. They have a wide
  variety
  of available weapons, shields and armour. The main roles as a warrior is to take and dish out physical damage.
</p>
<h2>Hit Die</h2>
<p>d12</p>
<h2>Important stats</h2>
<p>Constitution, Strength, Agility</p>
<h2>Starting equipment</h2>
<p>Damaged Chain Armour, Damaged Short Sword, Damaged Wooden Shield</p>
<h2>Proficiencies</h2>
<p>
  Light Armour, Medium Armour, Heavy Armour, Simple Weapons, Small Weapons, Medium Weapons, Large Weapons, Small
  Shields,
  Medium Shields, Large Shields
</p>
<h2>Abilities</h2>
<table>
  <tr class="header">
    <td>Level</td>
    <td>Name</td>
    <td>Description</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Berserk 1</td>
    <td>Passive - +1d4 damage on all attacks when <b>wounded</b></td>
  </tr>
  <tr>
    <td>1</td>
    <td>Taunt</td>
    <td>
      Action - Select an opponent to make a CHA saving throw, if they fail they must target you next round
    </td>
  </tr>
  <tr>
    <td>3</td>
    <td>Shield Block</td>
    <td>
      Instant - once per round - when a friendly ally within 2m is being attacked, you may take the attack in their
      place
    </td>
  </tr>
  <tr>
    <td>5</td>
    <td>Dual Wield</td>
    <td>
      Passive - The character may now equip a <b>small weapon</b> in their off-hand, and can make an additional attack with
      that weapon once per round
    </td>
  </tr>
  <tr>
    <td>5</td>
    <td>Heavy swing</td>
    <td>
      Action - attack vs AGI on all enemies within melee range, does weapon damage to any enemies that do not avoid it, can
      only be used if the character does not move on this turn
    </td>
  </tr>
  <tr>
    <td>7</td>
    <td>Extra Attack</td>
    <td>Passive - once per round - the character can perform an addition attack with their main weapon</td>
  </tr>
  <tr>
    <td>7</td>
    <td>Berserk 2</td>
    <td>Passive - +1d4 damage on all attacks when <b>wounded</b>, stacks with <b>Berserk 1</b></td>
  </tr>
  <tr>
    <td>9</td>
    <td>War Cry</td>
    <td>Action - Give all allies within earshot a +3 to their next attack roll</td>
  </tr>
  <tr>
    <td>...</td>
    <td>...</td>
    <td>...</td>
  </tr>
</table>
