<div class="box fill">
  <h1>Warrior</h1>
  <p>
    The masters of arms, warriors are commonly found at the front of battle clad in heavy armour. They have a wide
    variety of available weapons, shields and armour. Warriors are one of the few classes to not directly employ
    magic in any way, and generally do not trust it.
  </p>
  <h2>Hit Die</h2>
  <p>d12</p>
  <h2>Important stats</h2>
  <p>Constitution, Strength, Agility</p>
  <h2>Starting equipment</h2>
  <p>Damaged Chain Armour, Damaged Short Sword, Damaged Wooden Shield</p>
  <h2>Proficiencies</h2>
  <p>
    Light Armour, Medium Armour, Heavy Armour, Simple Weapons, Small Weapons, Medium Weapons, Large Weapons, Ranged Weapons,
    Small Shields, Medium Shields, Large Shields
  </p>
  <h2>Progression</h2>
  <table class="wide">
    <tr class="header">
      <td>Level</td>
      <td>Unlocks</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Skill - Berserk 1</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Skill - Taunting Strike</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Skill - Shield Block</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Skill - Dual Wield</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Skill - Heavy Swing</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Skill - Extra Attack</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>9</td>
      <td>War Cry</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>11</td>
      <td>TODO</td>
    </tr>
  </table>

  <h2>Skills</h2>

  <h3>Berserk</h3>
  <p>
    Passive - The character enters a state of rage when <b>wounded</b>, dealing +1d6 damage on all attacks (increases to +2d6
    at level 7, +3d6 at level 13, and +4d6 at level 19)
  </p>

  <h3>Taunting Strike</h3>
  <p>
    Action - attack vs AGI, if it hits deal weapon damage and the target must attack you on their next turn
  </p>

  <h3>Shield Block</h3>
  <p>
    Instant - once per round - when a friendly character within 1m is being attacked, before dice are rolled you may
    choose to take the attack instead. Shield must be equipped.
  </p>

  <h3>Dual Wield</h3>
  <p>
    Passive - The character may now equip a <b>small weapon</b> in their off-hand, and can make an additional basic attack
    with that weapon once per round.
  </p>

  <h3>Heavy Swing</h3>
  <p>
    Action - once per encounter - attack vs AGI on all enemies within melee range, does weapon damage to any enemies
    that do not avoid it. If the character has not moved this turn, they also do an additional 1d8 damage.
  </p>

  <h3>Extra Attack</h3>
  <p>
    Passive - once per round - the character can perform an additional basic attack with their main weapon
  </p>

  <h3>War Cry</h3>
  <p>
    Action - once per encounter - All allies within earshot gain +3 to their next attack roll. Attack vs STR to all enemies within earshot,
    if it hits the enemies suffer a -3 to their next attack roll
  </p>
</div>
