.race-icon {
  float: left;
  margin-right: 10px;

  border: 1px solid #CCC;
  position: relative;
}

.race-icon p {
  position: absolute;
  right: 10px;
  bottom: 0;

  color: white;
  font-size: 24px;
  font-weight: bold;
}

.race-icon.selected {
  border: 2px solid #3CC;
}

.race-detail {
  clear: both;
}
