<div class="box fill">
  <h1>Monk</h1>
  <p>
    Monks avoid wearing armour and wielding weapons, and rather aim to hone their body into the ultimate weapon by
    mastering the martial arts and harnessing their inner spirit.
  </p>
  <h3>Hit Die</h3>
  <p>d8</p>
  <h3>Important stats</h3>
  <p>Strength, Agility, Spirit, Constitution</p>
  <h3>Starting equipment</h3>
  <p>Damaged Cloth Robe</p>
  <h3>Proficiencies</h3>
  <p>
    Simple Weapons
  </p>

  <h2>Progression</h2>
  <table class="wide">
    <tr class="header">
      <td>Level</td>
      <td>Unlocks</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Skill - Fists of Rock</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Skill - Kick</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Skill - Ignore Pain</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Skill - Focus</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Skill - Extra Attack</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Skill - Flying Kick</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Skill - Fists of Steel</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>11</td>
      <td>TODO</td>
    </tr>
  </table>

  <h2>Skills</h2>

  <h3>Fists of Rock</h3>
  <p>
    Passive - A monks fists are classed as 1d4+STR weapons, they may also attack with each fist separately (i.e. they can make 2 attacks per round)
  </p>

  <h3>Kick</h3>
  <p>
    Action - once per encounter - attack vs dodge on a enemy within melee range, if it hits the target takes 1d6+STR
    damage and is <b>knocked down</b>
  </p>

  <h3>Ignore Pain</h3>
  <p>
    Passive - The monk gains +1 armour (increases to +2 at level 5, +3 at level 9, +4 at level 13, +5 at level 17)
  </p>

  <h3>Focus</h3>
  <p>
    Instant - once per encounter - the monk enters a zen-like state, gaining additional <b>dodge</b> equal to their SPI
    until their next turn.
  </p>

  <h3>Extra Attack</h3>
  <p>
    Passive - once per round - the character can perform an additional basic attack with their main weapon
  </p>

  <h3>Flying Kick</h3>
  <p>
    Instant - once per encounter - If the monk ends their move in melee range of an enemy, they may use the momentum
    to instantly perform a free attack vs dodge, if it hits it does 2d6+STR+AGI damage and causes <b>knockdown</b>.
  </p>

  <h3>Fists of Steel</h3>
  <p>
    Passive - Replaces <b>Fists of Rock</b>, a monks fists are now classed as 2d4+STR weapons, they retain the ability to
    attack with each fist separately.
  </p>
</div>
