<h1>Monk</h1>
<p>
  Monks avoid wearing armour and wielding weapons, and rather aim to hone their body into the ultimate weapon through
  the mastering of martial arts and harnessing their inner spirit.
</p>
<h3>Hit Die</h3>
<p>d8</p>
<h3>Important stats</h3>
<p>Strength, Agility, Spirit, Constitution</p>
<h3>Starting equipment</h3>
<p>Damaged Cloth Robe</p>
<h3>Proficiencies</h3>
<p>
  Simple Weapons
</p>
<h3>Abilities</h3>
<table>
  <tr class="header">
    <td>Level</td>
    <td>Name</td>
    <td>Description</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Way of the fist</td>
    <td>
      Passive - the monks fists do 1d4+STR damage (increases to
    </td>
  </tr>
  <tr>
    <td>3</td>
    <td>Holy Light</td>
    <td>
      Action - attack vs SPI on an enemy within 10m, on hit does 1d6+SPI <b>light</b> damage
    </td>
  </tr>
  <tr>
    <td>3</td>
    <td>Heal</td>
    <td>
      Action - once per encounter - heal an ally for 2d6+SPI health
    </td>
  </tr>
  <tr>
    <td>5</td>
    <td>Mend wounds</td>
    <td>
      Action - once per encounter - the monk
    </td>
  </tr>
  <tr>
    <td>7</td>
    <td>Greater heal</td>
    <td>Action - once per encounter - heal an ally for 3d6+SPI health</td>
  </tr>
  <tr>
    <td>9</td>
    <td>Purge</td>
    <td>Action - once per encounter - purge an ally of any poison or disease</td>
  </tr>
  <tr>
    <td>...</td>
    <td>...</td>
    <td>...</td>
  </tr>
</table>
