<div class="box fill">
  <img src="/assets/races/avatar-ogre.png">
  <div class="info">
    <h1>Ogre</h1>
    <p>
      The largest (and heaviest) of the races, ogres typically posses great strength and not-so-great intellect.
    </p>
    <p>
      They are generally hairless and stand between 7'5 and 9' tall.
    </p>

    <h3>Stat Bonuses</h3>
    <p>
      +3 to Strength, +2 to Constitution, -1 to Intelligence
    </p>

    <h3>Big Boned</h3>
    <p>
      Immune to physical <b>stun</b> and <b>knockdown</b>
    </p>
  </div>
</div>
