<div class="box fill">
  <h1>Rogue</h1>
  <p>
    Rogues like to stay in the shadows, remaining hidden and striking enemies from behind. Thought rogues like to be
    up close with enemies to do large amounts of damage, they can't afford to take many hits.
  </p>
  <h3>Hit Die</h3>
  <p>d6</p>
  <h3>Important stats</h3>
  <p>Agility, Intelligence, Strength</p>
  <h3>Starting equipment</h3>
  <p>Damaged Leather Armour, Damaged Dagger, Lockpick</p>
  <h3>Proficiencies</h3>
  <p>
    Light Armour, Simple Weapons, Small Weapons
  </p>

  <h2>Progression</h2>
  <table class="wide">
    <tr class="header">
      <td>Level</td>
      <td>Unlocks</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Skill - Backstab</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Skill - Thievery</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Skill - Apply Poison</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Skill - Shadow Step</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Skill - Dual Wield</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Skill - Smoke Bomb</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Skill - Vanish</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Skill - Extra Attack</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>11</td>
      <td>TODO</td>
    </tr>
  </table>

  <h2>Skills</h2>

  <h3>Backstab</h3>
  <p>
    Passive - The rogue deals an additional 1d4 damage when attacking a target from behind with their main weapon
    (increases to 2d4 at level 5, 3d4 at level 10, 4d4 at level 15, and 5d4 at level 20). Piercing weapon required.
  </p>

  <h3>Thievery</h3>
  <p>
    Passive - the rogue receives +1 to any checks relating to lockpicking or pickpocketing (increases to +2 at level 5,
    +3 at level 10, +4 at level 15 and +5 at level 20).
  </p>

  <h3>Apply Weak Poison</h3>
  <p>
    Action - once per encounter - infuse your weapon with poison, any enemies that are hit must make a CON saving throw vs
    15 or they will be poisoned, making a saving throw each round or suffering 1d6 damage.
  </p>

  <h3>Shadow Step</h3>
  <p>
    Action - once per encounter - attack INT vs INT on an enemy target within 10m, if successful, the rogue moves immediately
    behind the target and can perform a single attack with their main weapon. If it fails, the rogue moves behind the target
    but cannot perform an attack.
  </p>

  <h3>Dual Wield</h3>
  <p>
    Passive - The character may now equip a <b>small weapon</b> in their off-hand, and can make an additional basic attack
    with that weapon once per round.
  </p>

  <h3>Smoke Bomb</h3>
  <p>
    Action - once per encounter - creates a field of smoke on a target 3m wide (9x9 grid), all characters within that
    area other than the rogue suffer -3 to all attack rolls.
  </p>

  <h3>Vanish</h3>
  <p>
    Action - once per encounter - the rogue becomes <b>invisible</b> until the end of their next turn. They may still move and attack
    while this is active.
  </p>

  <h3>Extra Attack</h3>
  <p>
    Passive - once per round - the character can perform an additional basic attack with their main weapon
  </p>
</div>
