<div class="box fill">
  <h1>Shaman</h1>
  <p>
    Primal and ritualistic, shamans channel the energies of their ancestors to heal and bolster their
    allies, as well as harness the weather to damage their enemies.
  </p>
  <h3>Hit Die</h3>
  <p>d6</p>
  <h3>Important stats</h3>
  <p>Spirit, Constitution</p>
  <h3>Starting equipment</h3>
  <p>Damaged Cloth Robe, Damaged Mace, Damaged Wooden shield</p>
  <h3>Proficiencies</h3>
  <p>
    Light Armour, Medium Armour, Simple Weapons, Small Weapons, Medium Weapons, Small Shields
  </p>
  <h2>Progression</h2>
  <table class="wide">
    <tr class="header">
      <td>Level</td>
      <td>Unlocks</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Skill - Arcane Missiles</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Skill - Lesser Shielding</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Skill - Fireball</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Skill - Icy Grasp</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Skill - Shielding</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Skill - Summon Elemental</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Additional stat point</td>
    </tr>
    <tr>
      <td>11</td>
      <td>TODO</td>
    </tr>
  </table>

  <h2>Skills</h2>

  <h3>Arcane Missiles</h3>
  <p>
    Action - attack vs INT on an enemy target within 10m, if it hits it does 1d6+INT <b>arcane</b> damage.
  </p>

  <h3>Lesser Shielding</h3>
  <p>
    Action - once per encounter - bless a friendly target with a shield giving 2 armour and 2 magic reduction
  </p>

  <h3>Fireball</h3>
  <p>
    Action - once per encounter - attack vs INT on an enemy target within 10m, if it hits the target and any other enemies
    within 1m of the target take 2d6+INT damage
  </p>

  <h3>Icy Grasp</h3>
  <p>
    Action - once per encounter - attack vs INT on an enemy target within 10m, if it hits the target takes 1d6+INT
    <b>ice</b> damage and is <b>rooted</b> until the end of their next turn
  </p>

  <h3>Shielding</h3>
  <p>
    Action - once per encounter - bless a friendly target with a shield giving 4 armour and 4 magic reduction
  </p>

  <h3>Summon Elemental</h3>
  <p>
    Action - once per day - summon an element of your choice (fire or ice). The elemental has 5d6+INT health, 5 movement, and does
    2d6+INT damage of the element chosen.
  </p>
</div>
