<div *ngIf="spell" class="spellCard">
  <h3 class="spellTitle" [ngClass]="{'poison': spell.school=='Poison', 'abjuration': spell.school=='Abjuration', 'alteration': spell.school=='Alteration', 'conjuration': spell.school=='Conjuration', 'divination': spell.school=='Divination', 'evocation': spell.school=='Evocation', 'illusion': spell.school=='Illusion'}">{{spell.label}}</h3>
  <p class="spellSubtitle clickable" (click)="toggleDetail()" *ngIf="!showDetail">click to show detail...</p>
  <div *ngIf="showDetail">
    <p class="spellSubtitle clickable" (click)="toggleDetail()" *ngIf="spell.school !== 'Poison'"><i>{{spell.school}}, {{spell.castTime}}</i></p>
    <p class="spellDesc" [innerHtml]="spell.desc"></p>
    <p class="spellDesc"><b>Range:</b> {{spell.range}}</p>
    <p class="spellDesc"><b>Duration:</b> {{spell.duration}}</p>
  </div>
</div>
