.spellCard {
  border: 1px solid #555;
}

.spellTitle {
  margin: 0;
  width: 100%;
  padding: 5px 0;
  text-align: center;

  background-color: #DDD;
  color: white;
  font-weight: normal;
}

.spellSubtitle {
  padding: 2px 0;
  text-align: center;
  width: 100%;

  background-color: #EEE;
}

.spellDesc {
  font-size: smaller;
}

.abjuration, .poison {
  background-color: #3DC656;
}

.alteration {
  background-color: #009EDC;
}

.conjuration {
  background-color: #FFC857;
}

.divination {
  background-color: #0C0A3E;
}

.illusion {
  background-color: #713E5A;
}

.evocation {
  background-color: #D9443F;
}
