<div class="box fill">
  <img src="/assets/races/avatar-darkelf.png">
  <h1>Dark Elf</h1>
  <p>
    Often considered to be selfish and malicious, Dark elves are not well liked by the other elves. They have dark
    blue/black skin and stand on average between 4'5" and 5'9" tall.
  </p>

  <h3>Stat Bonuses</h3>
  <p>
    +2 to Agility, +2 to Intelligence
  </p>

  <h3>Merciless</h3>
  <p>
    +1 on all attack rolls against <b>wounded targets</b> (increases to +2 at level 5, +3 at level 10, +4 at level 11
    and +5 at level 20)
  </p>
</div>
